In [162]:
import pandas as pd
import numpy as np

# 2009-2010 Data

In [163]:
# 2009-2010
path = '/Users/carolinesklaver/Desktop/Capstone/NHANES/data/csv_data/2009-2010'

import os
os.chdir(path)

## PHQ-9 Survey - part of Questionnaire

In [164]:
DPQ_2009_2010 = pd.read_csv('./Questionnaire/DPQ_F.csv')

In [165]:
DPQ_2009_2010.head()

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100
0,51624.0,2.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.397605e-79,1.000000e+00
1,51628.0,3.000000e+00,3.000000e+00,2.000000e+00,3.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,5.397605e-79,1.000000e+00
2,51629.0,5.397605e-79,2.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,2.000000e+00,5.397605e-79,5.397605e-79
3,51630.0,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00
4,51633.0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,NaN

In [166]:
# drop final follow-up question
DPQ_2009_2010.drop(['DPQ100'], axis=1, inplace=True)

In [167]:
# values less than 1 are zero
def set_zero(df):
    df[df<1] = 0
    
set_zero(DPQ_2009_2010)

In [168]:
# need to drop rows where not all col are complete
DPQ_2009_2010.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

In [169]:
# take a sum across rows and save as new col
DPQ_2009_2010['sum'] = DPQ_2009_2010.iloc[:,1:].sum(axis=1)

In [170]:
# create new target label 'depressed' if sum is greater than 10 --> 1, otherwise 0
DPQ_2009_2010.loc[DPQ_2009_2010['sum'] > 10, 'depressed'] = 1
DPQ_2009_2010.loc[DPQ_2009_2010['sum'] <= 10, 'depressed'] = 0

In [171]:
DPQ_2009_2010.head()

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,sum,depressed
0,51624.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,0.0,10.0,0.0
1,51628.0,3.0,3.0,2.0,3.0,2.0,2.0,2.0,3.0,0.0,20.0,1.0
2,51629.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,5.0,0.0
3,51630.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0
4,51633.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [172]:
DPQ_2009_2010.shape

(5576, 12)

In [173]:
DPQ_F = DPQ_2009_2010[['SEQN', 'depressed']]

In [174]:
DPQ_F.head()

      SEQN  depressed
0  51624.0        0.0
1  51628.0        1.0
2  51629.0        0.0
3  51630.0        0.0
4  51633.0        0.0

In [175]:
len(DPQ_2009_2010[DPQ_2009_2010['depressed']==1])  # about 8% depressed = true

462

## Demographic Data

### Demographic Variables and Sample Weights (DEMO_F)

In [176]:
# start with demographic data
DEMO_2009_2010 = pd.read_csv('./Demographics/DEMO_F.csv')

In [177]:
DEMO_2009_2010.head(10)

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,DMQMILIT,...,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA
0,51624.0,6.0,2.0,1.0,1.0,34.0,409.0,410.0,3.0,2.0,...,2.0,2.0,1.0,2.0,2.0,1.0,80100.543512,81528.772006,1.0,83.0
1,51625.0,6.0,2.0,2.0,1.0,4.0,49.0,50.0,5.0,NaN,...,2.0,2.0,NaN,NaN,NaN,NaN,53901.104285,56995.035425,2.0,79.0
2,51626.0,6.0,2.0,1.0,1.0,16.0,202.0,202.0,4.0,NaN,...,2.0,2.0,1.0,2.0,2.0,1.0,13953.078343,14509.278860,1.0,84.0
3,51627.0,6.0,2.0,1.0,1.0,10.0,131.0,132.0,4.0,NaN,...,2.0,2.0,1.0,2.0,2.0,NaN,11664.899398,12041.635365,2.0,86.0
4,51628.0,6.0,2.0,2.0,2.0,60.0,722.0,722.0,4.0,2.0,...,2.0,2.0,1.0,2.0,2.0,1.0,20090.339256,21000.338724,2.0,75.0
5,51629.0,6.0,2.0,1.0,1.0,26.0,313.0,313.0,1.0,2.0,...,2.0,2.0,1.0,2.0,2.0,1.0,22537.826997,22633.581873,1.0,88.0
6,51630.0,6.0,2.0,1.0,2.0,49.0,596.0,596.0,3.0,2.0,...,2.0,2.0,1.0,2.0,2.0,1.0,74212.269993,74112.486841,2.0,85.0
7,51631.0,6.0,2.0,1.0,2.0,1.0,12.0,12.0,3.0,NaN,...,2.0,2.0,NaN,NaN,NaN,NaN,23306.397744,24776.491957,2.0,86.0
8,51632.0,6.0,2.0,1.0,1.0,10.0,124.0,126.0,2.0,NaN,...,2.0,2.0,1.0,2.0,2.0,NaN,8056.943427,8175.945593,2.0,88.0
9,51633.0,6.0,2.0,2.0,1.0,80.0,NaN,NaN,3.0,2.0,...,2.0,2.0,1.0,2.0,2.0,NaN,11998.401196,12381.115324,1.0,77.0

Demographics variables:
- DMDBORN4: Due to the concerns of disclosure risk, starting in 2011, country of birth was recoded into two categories: 1) Born in 50 U.S. states or Washington, DC; and 2) Born in other countries, including U.S. territories.

- DMDEDUC2: This variable is the highest grade or level of education completed by adults 20 years and older. The response categories are: less than 9th grade education, 9-11th grade education (includes 12th grade and no diploma), High school graduate/GED, some college or associates (AA) degree, and college graduate or higher.

- DMDHHSIZ: This variable is the number of people in the participant’s household. The values for this variable range from 1 to 7. Due to disclosure concerns, households that are comprised of 7 or more people are included in the category that is labeled ‘7 or more’.

- RIDAGEYR: Age in years, at the time of the screening interview, is reported for survey participants between the ages of 1 and 79 years of age. All responses of participants aged 80 years and older are coded as ‘80.’

- RIAGENDR: Gender: male 1, female 2

- INDHHIN2: Total household income (reported as a range value in dollars), range 1-15, 77 refused, 99 dont know

- DMQMIL1Z: Served active duty in US Armed Forces, 1 yes, 0 no, 7 refuse, 9 dont know

- DMDMARTL: Marital status - 1 Married, 2 widowed, 3 divorced, 4 separated, 5 never married, 6 living with partner, 77 refused

In [181]:
# filter only relevant cols
DEMO_F = DEMO_2009_2010.filter(['SEQN','RIDRETH1', 'DMDEDUC2', 'DMDHHSIZ', 'RIDAGEYR', 'RIAGENDR','INDHHIN2', 
                        'DMQMIL1Z', 'DMDMARTL'], axis=1)

In [182]:
# rename col to be more useful
demo_cols = {'SEQN': 'SEQN', 'RIDRETH1':'race_ethnicity', 'DMDEDUC2': 'edu_level', 'DMDHHSIZ': '#_ppl_household', 
               'RIDAGEYR': 'age', 'RIAGENDR': 'gender','INDHHIN2': 'annual_HI', 
                        'DMQMIL1Z': 'served_army', 'DMDMARTL':'marital_status'}

DEMO_F.columns = DEMO_F.columns.map(demo_cols)

In [183]:
DEMO_F.head()

,SEQN,race_ethnicity,edu_level,#_ppl_household,age,gender,annual_HI,marital_status
0,51624.0,3.0,3.0,4.0,34.0,1.0,6.0,1.0
1,51625.0,5.0,NaN,4.0,4.0,1.0,5.0,NaN
2,51626.0,4.0,NaN,4.0,16.0,1.0,8.0,NaN
3,51627.0,4.0,NaN,6.0,10.0,1.0,5.0,NaN
4,51628.0,4.0,3.0,2.0,60.0,2.0,3.0,2.0

## Dietary Data

### Dietary Interview - Total Nutrient Intakes, First Day (DR1TOT_F)

In [184]:
DIET_2009_2010 = pd.read_csv('./Dietary/DR1TOT_F.csv')

Dietary variables:
- DR1TCAFF : caffeine - Caffeine (mg) range 0 to 2448
- DRQSDIET - On special diet? - 1,2,9, missing
- DR1TPROT - Protein (gm) - 0 to 869.49, missing
- DR1TCARB - Carbohydrate (gm) - 8.67 to 1423.87, missing
- DR1TSUGR - Total sugars (gm) - 0.13 to 1115.5, missing
- DR1TFIBE - Dietary fiber (gm) - 0 to 136.6, missing
- DR1TTFAT - Total fat (gm) - 0 to 548.38, missing
- DR1TCHOL - Cholesterol (mg) - 0 to 3515, missing
- DR1TVB6 - Vitamin B6 (mg)
- DR1TFOLA - Total folate (mcg) - 0 to 3172, missing
- DR1TVB12 - Vitamin B12 (mcg) - 0 to 110, missing
- DR1TVD - Vitamin D (D2 + D3) (mcg) - 0 to 86.3, missing
- DR1TMAGN - Magnesium (mg) - 0 2725, missing
- DR1TIRON - Iron (mg) - 0 to 130, missing
- DR1TZINC - Zinc (mg) - 0 to 116, missing
- DR1TSELE - Selenium (mcg) - 0 to 986.5, missing
- DR1_320Z - Total plain water drank yesterday (gm) - 0 13440, missing

In [185]:
# filter only relevant cols
DIET_F = DIET_2009_2010.filter(['SEQN', 'DR1TCAFF', 'DRQSDIET', 'DR1TPROT','DR1TCARB','DR1TSUGR','DR1TFIBE',
                               'DR1TTFAT','DR1TCHOL','DR1TVB6','DR1TFOLA','DR1TVB12','DR1TVD',
                               'DR1TMAGN','DR1TIRON','DR1TZINC','DR1TSELE','DR1_320Z'], axis=1)

diet_cols = {'SEQN': 'SEQN', 'DR1TCAFF':'caffeine','DRQSDIET': 'special_diet', 'DR1TPROT':'protein',
             'DR1TCARB':'carb','DR1TSUGR':'sugar','DR1TFIBE':'fiber',
            'DR1TTFAT':'fat','DR1TCHOL':'diet_chol','DR1TVB6':'VitB6','DR1TFOLA':'folate',
             'DR1TVB12':'VitB12','DR1TVD':'VitD', 'DR1TMAGN':'magnesium',
             'DR1TIRON':'iron','DR1TZINC':'zinc','DR1TSELE':'selenium','DR1_320Z':'water'}

DIET_F.columns = DIET_F.columns.map(diet_cols)

In [186]:
DIET_F.head()

,SEQN,caffeine,special_diet,protein,carb,sugar,fiber,fat,diet_chol,VitB6,folate,VitB12,VitD,magnesium,iron,zinc,selenium,water
0,51624.0,5.410000e+02,2.0,74.68,233.86,128.29,24.3,74.08,285.0,1.172,432.0,1.41,1.7,417.0,12.71,8.27,110.9,6.000000e+03
1,51625.0,3.000000e+00,2.0,67.18,256.55,114.57,11.4,59.98,221.0,1.669,386.0,3.53,5.1,208.0,9.77,10.05,99.0,3.258800e+02
2,51626.0,5.397605e-79,2.0,63.41,261.86,140.36,16.9,61.24,475.0,3.287,1215.0,10.59,17.6,304.0,29.78,25.65,137.5,5.397605e-79
3,51627.0,2.900000e+01,2.0,169.05,327.74,94.85,18.7,198.05,761.0,1.949,583.0,5.05,11.9,355.0,19.08,16.08,234.9,1.036900e+02
4,51628.0,1.680000e+02,2.0,50.06,259.66,105.51,11.6,76.84,277.0,1.321,408.0,1.61,2.0,169.0,11.78,5.24,78.7,7.850600e+02

## Questionnaire Data

### Diabetes

variables
- DIQ010 : doc_diabetes - {Have you/Has SP}} ever been told by a doctor or health professional that {you have/{he/she/SP} has} diabetes or sugar diabetes? 1 yes, 2 no, 3 boarderline
- DIQ160 : doc_prediabetes - {Have you/Has SP} ever been told by a doctor or other health professional that {you have/SP has} any of the following: prediabetes, impaired fasting glucose, impaired glucose tolerance, borderline diabetes or that {your/her/his} blood sugar is higher than normal but not high enough to be called diabetes or sugar diabetes? 1 yes, 2 no

In [187]:
DIQ_2009_2010 = pd.read_csv('./Questionnaire/DIQ_F.csv')

In [188]:
DIQ_2009_2010.columns

Index(['SEQN', 'DIQ010', 'DID040', 'DIQ160', 'DIQ170', 'DIQ180', 'DIQ050',
       'DID060', 'DIQ060U', 'DIQ070', 'DIQ230', 'DIQ240', 'DID250', 'DID260',
       'DIQ260U', 'DID341', 'DID350', 'DIQ350U', 'DIQ360', 'DIQ080'],
      dtype='object')

In [189]:
DIQ_F = DIQ_2009_2010.filter(['SEQN','DIQ010', 'DIQ160'], axis=1)

In [190]:
# rename col to be more useful
DIQ_cols = {'SEQN':'SEQN', 'DIQ010':'doc_diabetes', 'DIQ160': 'doc_prediabetes'}

DIQ_F.columns = DIQ_F.columns.map(DIQ_cols)

In [191]:
DIQ_F.head()

      SEQN  doc_diabetes  doc_prediabetes
0  51624.0           2.0              2.0
1  51625.0           2.0              NaN
2  51626.0           2.0              2.0
3  51627.0           2.0              NaN
4  51628.0           1.0              NaN

### Diet Questionnaire

Variables:
- CBQ505 : fast_food_12m - In the past 12 months, did you buy food from fast food or pizza places?
- DBD895 : #meals_not_Fome - During the past 7 days, how many meals {did you/did SP} get that were prepared away from home in places such as restaurants, fast food places, food stands, grocery stores, or from vending machines?
    - 0 None, 1 to 21 range, 5555 more than 21 meals per week, 7777 refused, 9999 dont know
- DBD900 : #meals_fast_food - How many of those meals {did you/did SP} get from a fast-food or pizza place?
- DBQ700 : how_Fealthy_diet - In general, how healthy is {your/his/her} overall diet? 
    - Excellent to Poor: 1-5

In [192]:
DBQ_2009_2010 = pd.read_csv('./Questionnaire/DBQ_F.csv')

In [193]:
DBQ_2009_2010.columns

Index(['SEQN', 'DBQ010', 'DBD030', 'DBD041', 'DBD050', 'DBD055', 'DBD061',
       'DBQ073A', 'DBQ073B', 'DBQ073C', 'DBQ073D', 'DBQ073E', 'DBQ073U',
       'DBQ700', 'DBQ197', 'DBQ223A', 'DBQ223B', 'DBQ223C', 'DBQ223D',
       'DBQ223E', 'DBQ223U', 'DBQ229', 'DBQ235A', 'DBQ235B', 'DBQ235C',
       'DBQ301', 'DBQ330', 'DBQ360', 'DBQ370', 'DBD381', 'DBQ390', 'DBQ400',
       'DBD411', 'DBQ421', 'DBQ424', 'DBD895', 'DBD900', 'DBD905', 'DBD910',
       'DBQ915', 'DBQ920', 'DBQ925A', 'DBQ925B', 'DBQ925C', 'DBQ925D',
       'DBQ925E', 'DBQ925F', 'DBQ925G', 'DBQ925H', 'DBQ925I', 'DBQ925J',
       'DBQ930', 'DBQ935', 'DBQ940', 'DBQ945'],
      dtype='object')

In [197]:
DBQ_F = DBQ_2009_2010.filter(['SEQN','DBD900', 'DBQ700'], axis=1)

In [198]:
# rename col to be more useful
DBQ_cols = {'SEQN':'SEQN',
                  'DBD900':'#meals_fast_food', 'DBQ700': 'how_healthy_diet'}

DBQ_F.columns = DBQ_F.columns.map(DBQ_cols)

In [199]:
DBQ_F.head()

      SEQN  #meals_fast_food  how_healthy_diet
0  51624.0               1.0               3.0
1  51625.0               NaN               NaN
2  51626.0               NaN               1.0
3  51627.0               1.0               NaN
4  51628.0               NaN               4.0

### Sight & Hearing

variables:
- DLQ010 : difficult_Fearing - 1 yes, 2 no
- DLQ020 : difficult_seeing - 1 yes, 2 no
- DLQ050 - Have serious difficulty walking ? 
    - 1=yes, 2=no, 7/9
- DLQ080 - Have difficulty doing errands alone ? 
    - 1=yes, 2=no, 7/9

In [200]:
# DLQ_2009_2010 = pd.read_csv('./Questionnaire/DLQ_F.csv')

In [201]:
# DLQ_2009_2010.columns

In [202]:
# DLQ_F = DLQ_2009_2010.filter(['SEQN','DLQ010','DLQ020','DLQ050','DLQ080'], axis=1)

In [203]:
# rename col to be more useful
# DLQ_cols = {'SEQN':'SEQN', 'DLQ010': 'difficult_Fearing', 'DLQ020': 'difficult_seeing',
#           'DLQ050':'difficult_walking','DLQ080':'difficult_errands'}

# DLQ_F.columns = DLQ_F.columns.map(DLQ_cols)

In [204]:
# DLQ_F.head()

### Drugs

variables: 
- DUQ211 : used_marijuana - Have you ever smoked marijuana or hashish at least once a month for more than one year?
- DUQ230 : # days used marijuana or hashish/month
- DUQ240 : used_CMH - Have you ever used cocaine, crack cocaine, heroin, or methamphetamine?
- DUQ370 : injected_drugs - Have you ever, even once, used a needle to inject a drug not prescribed by a doctor?

    - 1 yes, 2 no, 7 refused, 9 don't know

In [209]:
DUQ_2009_2010 = pd.read_csv('./Questionnaire/DUQ_F.csv')

In [210]:
DUQ_F = DUQ_2009_2010.filter(['SEQN', 'DUQ240'], axis=1)

In [211]:
DUQ_cols = {'SEQN':'SEQN', 'DUQ240':'used_CMH'}

DUQ_F.columns = DUQ_F.columns.map(DUQ_cols)

In [212]:
DUQ_F.head()

      SEQN  used_CMH
0  51624.0       1.0
1  51628.0       2.0
2  51629.0       1.0
3  51630.0       1.0
4  51643.0       2.0

### Health Care

HSQ_F
- HSD010 - General health condition
1 - Excellent
2 - Very good
3 - Good
4 - Fair
5 - Poor
7 - Refused, 9 - Don’t Know

HUQ_F
- HUQ010 - General health condition
1 - Excellent
2 - Very good
3 - Good
4 - Fair
5 - Poor
7 - Refused, 9 - Don’t Know
- HUQ041 / 040 - Type place most often go for healthcare
1- Clinic or health center
2 - Doctor's office or HMO
3 - Hospital emergency room
4 - Hospital outpatient department	
5 - Some other place
6 - Doesn't go to one place most often
77 - Refused, 99 - Don't know
- HUQ051/050 - #times receive healthcare over past year
0 - 8 are ranges, 77, 99
- HUQ090 - Seen mental health professional/past yr
1, 2, 7, 9

In [216]:
HUQ_2009_2010 = pd.read_csv('./Questionnaire/HUQ_F.csv')

HUQ_F = HUQ_2009_2010.filter(['SEQN', 'HUQ010', 'HUQ040','HUQ050'], axis=1)
HUQ_cols = {'SEQN':'SEQN', 'HUQ010': 'gen_health_cond','HUQ040':'place_healthcare',
            'HUQ050':'healthcare_past_yr'}

HUQ_F.columns = HUQ_F.columns.map(HUQ_cols)

In [217]:
HUQ_F.head()

      SEQN  gen_health_cond  place_healthcare  healthcare_past_yr
0  51624.0              3.0               2.0                 4.0
1  51625.0              1.0               2.0                 2.0
2  51626.0              2.0               1.0                 1.0
3  51627.0              1.0               2.0                 2.0
4  51628.0              4.0               2.0                 1.0

### Health Insurance

variables:
- HIQ011 : health_insurance - {Are you/Is SP} covered by health insurance or some other kind of health care plan? 1 yes, 2 no

In [218]:
HIQ_2009_2010 = pd.read_csv('./Questionnaire/HIQ_F.csv')

HIQ_F = HIQ_2009_2010.filter(['SEQN', 'HIQ011'], axis=1)
HIQ_cols = {'SEQN':'SEQN', 'HIQ011': 'health_insurance'}

HIQ_F.columns = HIQ_F.columns.map(HIQ_cols)

In [219]:
HIQ_F.head()

      SEQN  health_insurance
0  51624.0               2.0
1  51625.0               1.0
2  51626.0               1.0
3  51627.0               1.0
4  51628.0               1.0

### Househole Characteristics

HOQ_F
- HOD050 - Number of rooms in home
1-13, 777, 999
- HOQ065 - Home owned, bought, rented, other
1 - Owned or being bought
2 - Rented
3 - Other arrangements
7 - Refused, 9 - Don't know

In [220]:
HOQ_2009_2010 = pd.read_csv('./Questionnaire/HOQ_F.csv')

HOQ_F = HOQ_2009_2010.filter(['SEQN', 'HOD050','HOQ065'], axis=1)
HOQ_cols = {'SEQN':'SEQN', 'HOD050': '#_rooms','HOQ065':'home_ownership'}

HOQ_F.columns = HOQ_F.columns.map(HOQ_cols)

In [221]:
HOQ_F.head()

      SEQN  #_rooms  home_ownership
0  51624.0      6.0             1.0
1  51625.0      9.0             1.0
2  51626.0      5.0             1.0
3  51627.0      6.0             2.0
4  51628.0      6.0             2.0

### Early Childhood

ECQ_F
- ECQ020 - Mother smoked when pregnant
1=yes, 2=no, 7/9

In [222]:
ECQ_2009_2010 = pd.read_csv('./Questionnaire/ECQ_F.csv')

ECQ_F = ECQ_2009_2010.filter(['SEQN', 'ECQ020'], axis=1)
ECQ_cols = {'SEQN':'SEQN', 'ECQ020': 'mom_smoked_preg'}

ECQ_F.columns = ECQ_F.columns.map(ECQ_cols)

In [223]:
ECQ_F.head()

      SEQN  mom_smoked_preg
0  51625.0              2.0
1  51627.0              9.0
2  51631.0              2.0
3  51632.0              2.0
4  51634.0              2.0

### Food Security

FSQ_F
- FSD032A - HH Worried run out of food
    - 1 - Often true
    - 2 - Sometimes true
    -  - Never true
    - 7 - Refused, 9 - Don't know
- FSD032B - HH Food didn't last
    - “ “
- FSD032C - HH Couldn't afford balanced meals
    - “ “
- FSD041 - HH Adults cut size or skip meals
    - 1, 2, 7, 9
- FSD032D - HH Relied on low-cost food for child
1 - Often true
2 - Sometimes true
3 - Never true
7 - Refused, 9 - Don't know
- FSDHH - Household food security category
1 - HH full food security: 0
2 - HH marginal food security: 1-2
3 - HH low food security: 3-5 (HH w/o child) / 3-7 (HH w/ child)
4 - HH very low food security: 6-10 (HH w/o child) / 8-18 (HH w/ child)
No 7/9, just missing
- FSQ012 / 171 - HH FS benefit: receive in last 12 months
1, 2, 7, 9
- FSQ162 - HH WIC benefit: receive in last 12 month
1,2,7,9

In [224]:
FSQ_2009_2010 = pd.read_csv('./Questionnaire/FSQ_F.csv')

FSQ_F = FSQ_2009_2010.filter(['SEQN', 'FSD032A', 'FSD032B', 'FSD032C', 'FSD041', 'FSD032D', 'FSDHH',
                             'FSQ171', 'FSQ162'], axis=1)

 
FSQ_cols = {'SEQN': 'SEQN', 'FSD032A':'run_out_food', 'FSD032B':'food_didnt_last', 'FSD032C':'afford_balanced_meals', 
             'FSD041':'adults_skip_meals', 'FSD032D':'relied_cheap_food', 'FSDHH':'food_security_cat',
             'FSQ171':'food_stamps', 'FSQ162':'WIC'}

FSQ_F.columns = FSQ_F.columns.map(FSQ_cols)

In [225]:
FSQ_F.head()

,SEQN,run_out_food,food_didnt_last,afford_balanced_meals,adults_skip_meals,relied_cheap_food,food_security_cat,food_stamps,WIC
0,51624.0,2.0,2.0,2.0,2.0,2.0,3.0,1.0,2.0
1,51625.0,3.0,3.0,3.0,NaN,3.0,1.0,NaN,2.0
2,51626.0,3.0,3.0,3.0,NaN,3.0,1.0,1.0,2.0
3,51627.0,3.0,3.0,3.0,NaN,3.0,1.0,NaN,2.0
4,51628.0,1.0,1.0,3.0,1.0,NaN,4.0,1.0,NaN

### Income

INQ_F
- IND235 - Monthly family income
    - 1-12 ranges, 77, 99
- INQ244 - Family has savings more than $5000
    - 1,2,7,9

In [226]:
INQ_2009_2010 = pd.read_csv('./Questionnaire/INQ_F.csv')

INQ_F = INQ_2009_2010.filter(['SEQN', 'IND235', 'INQ244'], axis=1)

INQ_cols = {'SEQN': 'SEQN', 'IND235':'monthly_income', 'INQ244':'savings_5000'}

INQ_F.columns = INQ_F.columns.map(INQ_cols)

In [227]:
INQ_F.head()

      SEQN  monthly_income  savings_5000
0  51624.0             7.0           1.0
1  51625.0            77.0           1.0
2  51626.0             6.0           NaN
3  51627.0             6.0           7.0
4  51628.0             3.0           2.0

### Medical Conditions

variables:
- MCQ010 : doc_asthma - Has a doctor or other health professional ever told {you/SP} that {you have/s/he/SP has} asthma (az-ma)?
- MCQ080 : doc_overweight - Has a doctor or other health professional ever told {you/SP} that {you were/s/he/SP was} overweight?
- MCQ160a :  doc_arthritis - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had arthritis (ar-thry-tis)?
- MCQ160b :  doc_CHF - Has a doctor or other health professional ever told {you/SP} that {you/s/he}had congestive heart failure?
- MCQ160c : doc_CHD - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had coronary (kor-o-nare-ee) heart disease?
- MCQ160e : doc_Feart_attack - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had a heart attack (also called myocardial infarction (my-o-car-dee-al in-fark-shun))?
- MCQ160f : doc_stroke - Has a doctor or other health professional ever told {you/SP} that {you/s/her} had a stroke?
- MCQ160k : doc_chronic_bronchitis - Has a doctor or other health professional ever told {you/SP} that {you/s/he} . . .had chronic bronchitis?
- MCQ160l : doc_liver_condition - Has a doctor or other health professional ever told {you/SP} that {you/s/he} . . .had any kind of liver condition?
- MCQ160m : doc_thyroid_problem - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had another thyroid (thigh-roid) problem?
- MCQ160o : doc_COPD - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had COPD?
- MCQ220 : doc_cancer - {Have you/Has SP} ever been told by a doctor or other health professional that {you/s/he} had cancer or a malignancy (ma-lig-nan-see) of any kind?
- MCQ365a : doc_lose_weight - To lower {your/SP's} risk for certain diseases, during the past 12 months {have you/has s/he} ever been told by a doctor or health professional to: control {your/his/her} weight or lose weight?
- MCQ365b : doc_exercise - To lower {your/SP's} risk for certain diseases, during the past 12 months {have you/has s/he} ever been told by a doctor or health professional to: increase {your/his/her} physical activity or exercise?
- MCQ053 - Taking treatment for anemia/past 3 mos
    - 1,2,7,9
- MCQ084 - Difficulties in thinking or remembering
    - 1, 2, 7, 9
- MCQ230a - What kind of cancer
    - 10-39 different kinds, 66 = more than 3, 77, 99

In [230]:
MCQ_2009_2010 = pd.read_csv('./Questionnaire/MCQ_F.csv')

MCQ_F = MCQ_2009_2010.filter(['SEQN', 'MCQ010', 'MCQ080', 'MCQ160A', 'MCQ160B', 'MCQ160C', 'MCQ160E',
 'MCQ160F', 'MCQ160K', 'MCQ160L', 'MCQ160M', 'MCQ160O', 'MCQ220','MCQ053',
                             'MCQ084','MCQ230A'], axis=1)

 
MCQ_cols = {'SEQN': 'SEQN', 'MCQ010':'doc_asthma', 'MCQ080':'doc_overweight', 'MCQ160A':'doc_arthritis', 
 'MCQ160B':'doc_CHF', 'MCQ160C':'doc_CHD', 'MCQ160E':'doc_heart_attack',
 'MCQ160F':'doc_stroke', 'MCQ160K':'doc_chronic_bronchitis', 'MCQ160L':'doc_liver_condition', 
 'MCQ160M':'doc_thyroid_problem', 'MCQ160O':'doc_COPD', 'MCQ220':'doc_cancer','MCQ053': 'anemia',
                             'MCQ084':'difficult_remembering','MCQ230A':'cancer_type'}

MCQ_F.columns = MCQ_F.columns.map(MCQ_cols)

In [231]:
MCQ_F.head()

,SEQN,doc_asthma,doc_overweight,doc_arthritis,doc_CHF,doc_CHD,doc_heart_attack,doc_stroke,doc_chronic_bronchitis,doc_liver_condition,doc_thyroid_problem,doc_cancer,anemia,cancer_type
0,51624.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
1,51625.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
2,51626.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
3,51627.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
4,51628.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,NaN

### Kidney Conditions - Urology (KIQ_U_F)

variables
- KIQ022: doc_kidney - {Have you/Has SP} ever been told by a doctor or other health professional that {you/s/he} had weak or failing kidneys? Do not include kidney stones, bladder infections, or incontinence.

In [232]:
KIQ_U_2009_2010 = pd.read_csv('./Questionnaire/KIQ_U_F.csv')

KIQ_U_F = KIQ_U_2009_2010.filter(['SEQN', 'KIQ022'], axis=1)
KIQ_U_cols = {'SEQN':'SEQN', 'KIQ022': 'doc_kidney'}

KIQ_U_F.columns = KIQ_U_F.columns.map(KIQ_U_cols)

In [233]:
KIQ_U_F.head()

      SEQN  doc_kidney
0  51624.0         2.0
1  51628.0         2.0
2  51629.0         2.0
3  51630.0         2.0
4  51633.0         2.0

### Occupation

OCQ_F
- OCD150 - Type of work done last week
1 - Working at a job or business
2 - With a job or business but not at work
3 - Looking for work, or
4 - Not working at a job or business?
7 - Refused, 9-  Don’t know
- OCQ180 - Hours worked last week at all jobs
    - Range 0-120 hours
    - 77777, 999999

In [234]:
OCQ_2009_2010 = pd.read_csv('./Questionnaire/OCQ_F.csv')

OCQ_F = OCQ_2009_2010.filter(['SEQN', 'OCD150','OCQ180'], axis=1)
OCQ_cols = {'SEQN':'SEQN', 'OCD150': 'work_type','OCQ180':'hrs_worked_week'}

OCQ_F.columns = OCQ_F.columns.map(OCQ_cols)

In [235]:
OCQ_F.head()

      SEQN  work_type  hrs_worked_week
0  51624.0        4.0              NaN
1  51626.0        4.0              NaN
2  51628.0        4.0              NaN
3  51629.0        1.0             40.0
4  51630.0        4.0              NaN

### Oral Health

OHQ_F
- OHQ680 - Last yr embarrassed because of mouth
    - 1 very often to 5 never, 7, 9

In [236]:
# OHQ_2009_2010 = pd.read_csv('./Questionnaire/OHQ_F.csv')

# OHQ_F = OHQ_2009_2010.filter(['SEQN', 'OHQ680'], axis=1)
# OHQ_cols = {'SEQN':'SEQN', 'OHQ680': 'embarassed_mouth'}

# OHQ_F.columns = OHQ_F.columns.map(OHQ_cols)

In [237]:
# OHQ_F.head()

### Osteoperosis

variables:
- OSQ010A : broken_Fip - Has a doctor ever told {you/SP} that {you/s/he} had broken or fractured {your/his/her} . . .hip?
- OSQ060 : doc_osteoporosis - Has a doctor ever told {you/SP} that {you/s/he} had osteoporosis, sometimes called thin or brittle bones?

    - 1 yes, 2 no, 7 refused, 9 don't know

In [238]:
OSQ_2009_2010 = pd.read_csv('./Questionnaire/OSQ_F.csv')

OSQ_F = OSQ_2009_2010.filter(['SEQN', 'OSQ010A', 'OSQ060'], axis=1)
OSQ_cols = {'SEQN':'SEQN', 'OSQ010A': 'broken_hip', 'OSQ060':'doc_osteoporosis'}

OSQ_F.columns = OSQ_F.columns.map(OSQ_cols)

In [239]:
OSQ_2009_2010.columns

Index(['SEQN', 'OSQ010A', 'OSQ010B', 'OSQ010C', 'OSQ020A', 'OSQ020B',
       'OSQ020C', 'OSD030AA', 'OSQ040AA', 'OSD050AA', 'OSD030AB', 'OSD050AB',
       'OSD030BA', 'OSQ040BA', 'OSD050BA', 'OSD030BB', 'OSQ040BB', 'OSD050BB',
       'OSD030BC', 'OSQ040BC', 'OSD050BC', 'OSD030BD', 'OSQ040BD', 'OSD050BD',
       'OSD030BE', 'OSQ040BE', 'OSD030BF', 'OSQ040BF', 'OSD030BG', 'OSQ040BG',
       'OSD030BH', 'OSQ040BH', 'OSD030BI', 'OSQ040BI', 'OSD030BJ', 'OSQ040BJ',
       'OSD030CA', 'OSQ040CA', 'OSD050CA', 'OSD030CB', 'OSQ040CB', 'OSD050CB',
       'OSD030CC', 'OSQ040CC', 'OSD050CC', 'OSQ080', 'OSQ090A', 'OSQ100A',
       'OSD110A', 'OSQ120A', 'OSQ090B', 'OSQ100B', 'OSD110B', 'OSQ120B',
       'OSQ090C', 'OSQ100C', 'OSD110C', 'OSQ120C', 'OSQ090D', 'OSQ100D',
       'OSD110D', 'OSQ120D', 'OSQ090E', 'OSQ100E', 'OSD110E', 'OSQ120E',
       'OSQ090F', 'OSQ100F', 'OSD110F', 'OSQ120F', 'OSQ090G', 'OSQ120G',
       'OSQ090H', 'OSQ120H', 'OSQ090I', 'OSQ120I', 'OSQ090J', 'OSQ120J',
       'OSQ060', 'OSQ070', 'OSQ130', 'OSQ140Q', 'OSQ140U', 'OSQ150', 'OSQ160A',
       'OSQ160B', 'OSQ170', 'OSQ180', 'OSQ190', 'OSQ200', 'OSQ210', 'OSQ220'],
      dtype='object')

In [240]:
OSQ_F.head()

      SEQN  broken_hip  doc_osteoporosis
0  51624.0         2.0               2.0
1  51628.0         2.0               2.0
2  51629.0         2.0               2.0
3  51630.0         2.0               2.0
4  51633.0         2.0               2.0

### Physical Activity

variables:
- PAQ650 - Vigorous recreational activities - In a typical week {do you/does SP} do any vigorous-intensity sports, fitness, or recreational activities that cause large increases in breathing or heart rate like running or basketball for at least 10 minutes continuously? 1 yes 2 no
    - PAD200 - Vigorous activity over past 30 days ^^
- PAQ665 - Moderate recreational activities
    - PAD320 - Moderate activity over past 30 days ^^
- PAD680 : min_sedetary - The following question is about sitting at school, at home, getting to and from places, or with friends including time spent sitting at a desk, traveling in a car or bus, reading, playing cards, watching television, or using a computer. Do not include time spent sleeping. How much time {do you/does SP} usually spend sitting on a typical day?
- PAQ706 - Days physically active at least 60 min.
    - 1-7, 77 99
- PAQ710 - Hours watch TV or videos past 30 days
    - 1-5, 8=don’t watch, 77, 99
- PAQ715 - Hours use computer past 30 days (on average/day)
    - “ “
- PAQ722 - Any physical activity in past 7 days

In [244]:
PAQ_2009_2010 = pd.read_csv('./Questionnaire/PAQ_F.csv')

PAQ_F = PAQ_2009_2010.filter(['SEQN', 'PAQ650', 'PAD200', 'PAQ665', 'PAD320',
           'PAD680', 'PAQ706', 'PAD590','PAD600','PAQ722'], axis=1)

PAQ_cols = {'SEQN':'SEQN', 'PAQ650':'vigorous_activity', 'PAD200':'vigorous_activity', 'PAQ665':'moderate_activity',
           'PAD3205':'moderate_activity', 'PAD680':'min_sedetary', 'PAQ706':'days_60min_active', 
            'PAD590':'hours_TV','PAD600':'hours_computer','PAQ722':'activity_week'}

PAQ_F.columns = PAQ_F.columns.map(PAQ_cols)

In [245]:
PAQ_F.columns

Index(['SEQN', 'vigorous_activity', 'moderate_activity', 'min_sedetary',
       'days_60min_active', 'hours_TV', 'hours_computer'],
      dtype='object')

In [246]:
PAQ_F.head() # activity per week missing

,SEQN,vigorous_activity,moderate_activity,min_sedetary,days_60min_active,hours_TV,hours_computer
0,51624.0,2.0,2.0,480.0,NaN,NaN,NaN
1,51625.0,NaN,NaN,NaN,7.0,4.0,1.0
2,51626.0,2.0,1.0,240.0,NaN,NaN,NaN
3,51627.0,NaN,NaN,NaN,7.0,1.0,1.0
4,51628.0,2.0,2.0,240.0,NaN,NaN,NaN

### Physical Functioning

PFQ_F
- PFQ049 - Limitations keeping you from working
    - 1,2,7,9
- PFQ059 - Physical, mental, emotional limitations
    - 1,2,7,9
- PFQ061A - Managing money difficulty
    - 1 no difficulty to 4 unable to do, 5 don’t do it, 7, 9

Many other activities I could include

In [249]:
PFQ_2009_2010 = pd.read_csv('./Questionnaire/PFQ_F.csv')

PFQ_F = PFQ_2009_2010.filter(['SEQN', 'PFQ049', 'PFQ059', 'PFQ061A'], axis=1)

PFQ_cols = {'SEQN':'SEQN', 'PFQ049':'limit_work', 'PFQ059':'PME_limit', 'PFQ061A':'manage_$_difficult'}

PFQ_F.columns = PFQ_F.columns.map(PFQ_cols)

In [250]:
PFQ_F.head()

      SEQN  limit_work  PME_limit  manage_$_difficult
0  51624.0         2.0        2.0                 NaN
1  51626.0         NaN        NaN                 NaN
2  51627.0         NaN        NaN                 NaN
3  51628.0         1.0        NaN                 1.0
4  51629.0         2.0        2.0                 NaN

### Sleeping Disorders

variables:
- SLQ060 : doc_sleeping_disorder - {Have you/Has SP} ever been told by a doctor or other health professional that {you have/s/he has} a sleep disorder?
- SLD010H - How much sleep do you get (hours)?
    - 2-12, 77, 99

In [251]:
SLQ_2009_2010 = pd.read_csv('./Questionnaire/SLQ_F.csv')

SLQ_F = SLQ_2009_2010.filter(['SEQN', 'SLQ060','SLD010H'], axis=1)
SLQ_cols = {'SEQN':'SEQN', 'SLQ060': 'doc_sleeping_disorder','SLD010H':'hrs_sleep'}

SLQ_F.columns = SLQ_F.columns.map(SLQ_cols)

In [252]:
SLQ_2009_2010.columns

Index(['SEQN', 'SLD010H', 'SLQ050', 'SLQ060'], dtype='object')

In [253]:
SLQ_F.head()

      SEQN  doc_sleeping_disorder  hrs_sleep
0  51624.0                    2.0        4.0
1  51626.0                    2.0        8.0
2  51628.0                    2.0        4.0
3  51629.0                    2.0        4.0
4  51630.0                    1.0        8.0

### Smoking - Cigarette Use (SMQ_F)

variables:
- SMQ020 : smoker - These next questions are about cigarette smoking and other tobacco use. {Have you/Has SP} smoked at least 100 cigarettes in {your/his/her} entire life?

In [254]:
SMQ_2009_2010 = pd.read_csv('./Questionnaire/SMQ_F.csv')

SMQ_F = SMQ_2009_2010.filter(['SEQN', 'SMQ020'], axis=1)
SMQ_cols = {'SEQN':'SEQN', 'SMQ020': 'smoker'}

SMQ_F.columns = SMQ_F.columns.map(SMQ_cols)

In [255]:
SMQ_F.head()

      SEQN  smoker
0  51624.0     1.0
1  51626.0     NaN
2  51628.0     1.0
3  51629.0     1.0
4  51630.0     1.0

In [256]:
SMQRTU_2009_2010 = pd.read_csv('./Questionnaire/SMQRTU_F.csv')

# 680 or 681
SMQRTU_F = SMQRTU_2009_2010.filter(['SEQN', 'SMQ680'], axis=1)
SMQ_cols = {'SEQN':'SEQN', 'SMQ680': 'smoked_5days'}

SMQRTU_F.columns = SMQRTU_F.columns.map(SMQ_cols)

In [257]:
SMQRTU_F.head()

      SEQN  smoked_5days
0  51624.0           2.0
1  51626.0           2.0
2  51628.0           1.0
3  51629.0           2.0
4  51630.0           1.0

### Sexual Behavior (SXQ_F)

variables:
- SXQ292 : sexual_orientation_M - Do you think of yourself as...1 Heterosexual or straight (attracted to women), 2 Homosexual or gay (attracted to men), 3 Bisexual (attracted to men and women), 4 Something else, 5 Not sure
- SXQ294 : sexual_orientation_F - ""
- SXQ753 : doc_FPV - Has a doctor or other health care professional ever told you that you had human papillomavirus or HPV? 1 yes, 2 no, 7 refuse, 9 don't know
- SXD171 : lifetime_female_partners - In your lifetime, with how many women have you had any kind of sex?
- SXD101 : lifetime_male_partners - In your lifetime, with how many men have you had any kind of sex?

In [258]:
SXQ_2009_2010 = pd.read_csv('./Questionnaire/SXQ_F.csv')

SXQ_F = SXQ_2009_2010.filter(['SEQN', 'SXQ292', 'SXQ294', 'SXD171', 'SXD101', 'SXQ753'], axis=1)
SXQ_cols = {'SEQN':'SEQN', 'SXQ292' : 'sexual_orientation_M', 'SXQ294' : 'sexual_orientation_F', 
           'SXD171' : 'lifetime_female_partners', 'SXD101' : 'lifetime_male_partners', 'SXQ753' : 'doc_HPV'}

SXQ_F.columns = SXQ_F.columns.map(SXQ_cols)

In [259]:
SXQ_2009_2010.columns

Index(['SEQN', 'SXD021', 'SXQ800', 'SXQ803', 'SXQ806', 'SXQ809', 'SXQ700',
       'SXQ703', 'SXQ706', 'SXQ709', 'SXD031', 'SXD171', 'SXD510', 'SXQ824',
       'SXQ827', 'SXD633', 'SXQ636', 'SXQ639', 'SXD642', 'SXQ410', 'SXQ550',
       'SXQ836', 'SXQ841', 'SXQ853', 'SXD621', 'SXQ624', 'SXQ627', 'SXD630',
       'SXQ645', 'SXQ648', 'SXQ610', 'SXQ251', 'SXQ590', 'SXQ600', 'SXD101',
       'SXD450', 'SXQ724', 'SXQ727', 'SXQ130', 'SXQ490', 'SXQ741', 'SXQ753',
       'SXQ260', 'SXQ265', 'SXQ270', 'SXQ272', 'SXQ280', 'SXQ292', 'SXQ294'],
      dtype='object')

In [260]:
SXQ_F.head()

,SEQN,sexual_orientation_M,sexual_orientation_F,lifetime_female_partners,lifetime_male_partners,doc_HPV
0,51624.0,1.0,NaN,8.0,NaN,NaN
1,51628.0,NaN,NaN,NaN,4.0,NaN
2,51629.0,1.0,NaN,10.0,NaN,NaN
3,51630.0,NaN,1.0,NaN,10.0,2.0
4,51643.0,NaN,1.0,NaN,100.0,2.0

notes: may want to concat the # of partners and sexual orientation despite gender

### Taste & Smell

CSQ_F
- CSQ010 - Had problem with smell past 12 months?
    - 1,2,7,9
- CSQ080 - Had problem with taste past 12 months?
    - 1,2,7,9
- CSQ200 - Persistent cold/flu last 12 months?
    - “ “
- CSQ204 - Frequent nasal congestion in past 12 mth

In [261]:
# CSQ_2009_2010 = pd.read_csv('./Questionnaire/CSQ_F.csv')

# CSQ_F = CSQ_2009_2010.filter(['SEQN', 'CSQ010','CSQ080','CSQ200','CSQ204'], axis=1)
# CSQ_cols = {'SEQN':'SEQN', 'CSQ010': 'prob_smell','CSQ080':'prob_tatse',
#             'CSQ200':'persistent_cold','CSQ204':'nasal_congestion'}

# CSQ_F.columns = CSQ_F.columns.map(CSQ_cols)

In [262]:
# CSQ_F.head()

### Alcohol Use (ALQ_F)

Variables: 
- ALQ151 : alcoholic - Was there ever a time or times in {your/SP's} life when {you/he/she} drank {DISPLAY NUMBER} or more drinks of any kind of alcoholic beverage almost every day? 1 yes, 2 no

In [263]:
ALQ_2009_2010 = pd.read_csv('./Questionnaire/ALQ_F.csv')

ALQ_F = ALQ_2009_2010.filter(['SEQN', 'ALQ150'], axis=1)
ALQ_cols = {'SEQN':'SEQN', 'ALQ150': 'alcoholic'}

ALQ_F.columns = ALQ_F.columns.map(ALQ_cols)

In [264]:
ALQ_F.head()

      SEQN  alcoholic
0  51624.0        1.0
1  51628.0        2.0
2  51629.0        2.0
3  51630.0        2.0
4  51633.0        2.0

### Weight History

WHQ_F
- WHQ030 - How do you consider your weight
    - 1 - Overweight
    - 2 - Underweight,
    - 3 - About the right weight?
    - 7 - Refused, 9 - Don’t Know
- WHQ070 - Tried to lose weight in past year
    - 1,2,7,9

In [265]:
WHQ_2009_2010 = pd.read_csv('./Questionnaire/WHQ_F.csv')

WHQ_F = WHQ_2009_2010.filter(['SEQN', 'WHQ030','WHQ070'], axis=1)
WHQ_cols = {'SEQN':'SEQN', 'WHQ030':'consider_weight','WHQ070':'tried_lose_weight'}

WHQ_F.columns = WHQ_F.columns.map(WHQ_cols)

In [266]:
WHQ_F.head()

      SEQN  consider_weight  tried_lose_weight
0  51624.0              1.0                2.0
1  51626.0              3.0                2.0
2  51628.0              1.0                2.0
3  51629.0              1.0                2.0
4  51630.0              1.0                1.0

## Laboratory Data

### Cholesterol - HDL (HDL_F)

variables:
- LBDHDD : HDL - Direct HDL-Cholesterol (mg/dL), range 10-173

In [267]:
HDL_2009_2010 = pd.read_csv('./Laboratory/HDL_F.csv')

HDL_F = HDL_2009_2010.filter(['SEQN', 'LBDHDD'], axis=1)
HDL_cols = {'SEQN':'SEQN', 'LBDHDD': 'HDL'}

HDL_F.columns = HDL_F.columns.map(HDL_cols)

In [268]:
HDL_F.head()

      SEQN   HDL
0  51624.0  50.0
1  51626.0  60.0
2  51627.0  73.0
3  51628.0  45.0
4  51629.0  45.0

### Cholesterol - LDL & Triglycerides (TRIGLY_F)

variables:

- LBDLDL - LBDLDL = ROUND(LBXTC-(LBXHDD+LBXTR/5) for LBXTR less than or equal to 400 mg/dL, and missing for LBXTR greater than 400 mg/dL, range 14-375
- LBXTR : triglyceride - Triglyceride (mg/dL), range 13-4233

In [269]:
TRIGLY_2009_2010 = pd.read_csv('./Laboratory/TRIGLY_F.csv')

TRIGLY_F = TRIGLY_2009_2010.filter(['SEQN', 'LBDLDL', 'LBXTR'], axis=1)
TRIGLY_cols = {'SEQN':'SEQN', 'LBDLDL':'LDL','LBXTR': 'triglyceride'}

TRIGLY_F.columns = TRIGLY_F.columns.map(TRIGLY_cols)

In [270]:
TRIGLY_2009_2010.columns

Index(['SEQN', 'WTSAF2YR', 'LBXTR', 'LBDTRSI', 'LBDLDL', 'LBDLDLSI'], dtype='object')

In [271]:
TRIGLY_F.head()

      SEQN    LDL  triglyceride
0  51641.0  118.0          72.0
1  51645.0  133.0         220.0
2  51653.0  113.0         235.0
3  51656.0   94.0         163.0
4  51661.0  107.0         128.0

### Cholesterol - Total (TCHOL_F)

variables:
- LBXTC : tot_cholesterol - Total Cholesterol( mg/dL), range 69-813

In [272]:
TCHOL_2009_2010 = pd.read_csv('./Laboratory/TCHOL_F.csv')

TCHOL_F = TCHOL_2009_2010.filter(['SEQN', 'LBXTC'], axis=1)
TCHOL_cols = {'SEQN':'SEQN', 'LBXTC': 'tot_cholesterol'}

TCHOL_F.columns = TCHOL_F.columns.map(TCHOL_cols)

In [273]:
TCHOL_F.head()

      SEQN  tot_cholesterol
0  51624.0            135.0
1  51626.0            192.0
2  51627.0            161.0
3  51628.0            202.0
4  51629.0            160.0

### Glycohemoglobin (GHB_F)

variables:
- LBXGH - Glycohemoglobin (%), range 3.5-17.5

In [274]:
GHB_2009_2010 = pd.read_csv('./Laboratory/GHB_F.csv')

GHB_F = GHB_2009_2010.filter(['SEQN', 'LBXGH'], axis=1)
GHB_cols = {'SEQN':'SEQN', 'LBXGH': 'glycohemoglobin'}

GHB_F.columns = GHB_F.columns.map(GHB_cols)

In [275]:
GHB_F.head()

      SEQN  glycohemoglobin
0  51624.0              5.2
1  51626.0              5.7
2  51628.0              6.0
3  51629.0              5.1
4  51630.0              5.3

### Herpes Simplex Virus Type-1 & Type-2 (HSV_F)

variables:
- LBXHE2 : herpes_2 - Herpes Simplex Virus Type 2

In [276]:
HSV_2009_2010 = pd.read_csv('./Laboratory/HSV_F.csv')

HSV_F = HSV_2009_2010.filter(['SEQN', 'LBXHE2'], axis=1)
HSV_cols = {'SEQN':'SEQN', 'LBXHE2': 'herpes_2'}

HSV_F.columns = HSV_F.columns.map(HSV_cols)

In [277]:
HSV_F.head(2)

      SEQN  herpes_2
0  51624.0       2.0
1  51626.0       NaN

### HIV Antibody Test (HIV_F)

variables:
- LBDHI : HIV - HIV antibody test result, 1 pos, 2, neg, 3 indeterminant

In [278]:
HIV_2009_2010 = pd.read_csv('./Laboratory/HIV_F.csv')

HIV_F = HIV_2009_2010.filter(['SEQN', 'LBDHI'], axis=1)
HIV_cols = {'SEQN':'SEQN', 'LBDHI': 'HIV'}

HIV_F.columns = HIV_F.columns.map(HIV_cols)

In [279]:
HIV_F.head(2)

      SEQN  HIV
0  51624.0  2.0
1  51629.0  2.0

### High-Sensitivity C-Reactive Protein (hs-CRP) (HSCRP_I) - NOT IN 2013-2014

variables:
- LBXHSCRP : CRP - HS C-Reactive Protein (mg/L), values 0-188, missing values are mostly below detection limit --> can be made to 0

In [280]:
# HSCRP_2009_2010 = pd.read_csv('./Laboratory/HSCRP_F.csv')

# HSCRP_I = HSCRP_2015_2016.filter(['SEQN', 'LBXHSCRP '], axis=1)
# HSCRP_cols = {'SEQN':'SEQN', 'LBXHSCRP ': 'CRP'}

# HSCRP_I.columns = HSCRP_I.columns.map(HSCRP_cols)

### Serums

CUSEZN_F
- LBXSSE - Serum Selenium (ug/L) - cont range, missing
- LBXSZN - Serum Zinc (ug/dL) - continuous range, missing
- URXUCR - Urinary creatinine (mg/dL) - continuous range, missing

In [281]:
# CUSEZN_2009_2010 = pd.read_csv('./Laboratory/CUSEZN_F.csv')

# CUSEZN_F = CUSEZN_2009_2010.filter(['SEQN', 'LBXSSE','LBXSZN','URXUCR'], axis=1)
# CUSEZN_cols = {'SEQN':'SEQN', 'LBXSSE': 'serum_selenium', 'LBXSZN':'serum_zinc','URXUCR':'serum_creatinine'}

# CUSEZN_F.columns = CUSEZN_F.columns.map(CUSEZN_cols)

In [282]:
# CUSEZN_F.head()

### Folate

FOLATE_F
- LBDRFO - RBC folate (ng/mL) -  continuous range, missing

FOLFMS_F
- LBDFOT - Serum total folate (ng/mL) -  continuous range, missing

In [283]:
FOLATE_2009_2010 = pd.read_csv('./Laboratory/FOLATE_F.csv')
#FOLFMS_2009_2010 = pd.read_csv('./Laboratory/FOLFMS_F.csv')

# LBDRBF or LBDRFO
FOLATE_F = FOLATE_2009_2010.filter(['SEQN', 'LBDRBF', 'LBDFOL'], axis=1)
FOLATE_cols = {'SEQN':'SEQN', 'LBDRBF':'rbc_folate','LBDFOL':'serum_folate'}
#FOLFMS_F = FOLFMS_2009_2010.filter(['SEQN', 'LBDFOT'], axis=1)
#FOLFMS_cols = {'SEQN':'SEQN', 'LBDFOT':'serum_folate'}

FOLATE_F.columns = FOLATE_F.columns.map(FOLATE_cols)
#FOLFMS_F.columns = FOLFMS_F.columns.map(FOLFMS_cols)

In [284]:
# FOLFMS_F.head()

In [285]:
FOLATE_F.head()

      SEQN  rbc_folate  serum_folate
0  51624.0       296.7          12.4
1  51625.0       472.4          18.8
2  51626.0       158.5          14.2
3  51627.0       450.3          15.1
4  51628.0       289.6           5.1

### Fasting Glucose

GLU_F
- LBXGLU - Fasting Glucose (mg/dL) - 51 to 421, missing

In [288]:
GLU_2009_2010 = pd.read_csv('./Laboratory/GLU_F.csv')

GLU_F = GLU_2009_2010.filter(['SEQN', 'LBXGLU'], axis=1)
GLU_cols = {'SEQN':'SEQN', 'LBXGLU': 'fasting_glucose'}

GLU_F.columns = GLU_F.columns.map(GLU_cols)

In [289]:
GLU_F.head()

      SEQN  fasting_glucose
0  51641.0             93.0
1  51645.0            127.0
2  51653.0             97.0
3  51656.0            134.0
4  51661.0             95.0

### Vitamins B12 and D

VITB12_F
- LBDB12 - Vitamin B12(pg/mL) - range, missing

VID_F
- LBXVIDMS - 25OHD2+25OHD3 (nmol/L) - range, missing (vitamin D)

In [290]:
# VITB12_2009_2010 = pd.read_csv('./Laboratory/VITB12_F.csv')
#  # LBXB12 or LBDB12
# VITB12_F = VITB12_2009_2010.filter(['SEQN', 'LBXB12'], axis=1)
# VITB12_cols = {'SEQN':'SEQN', 'LBXB12': 'lab_VitB12'}

# VITB12_F.columns = VITB12_F.columns.map(VITB12_cols)


VID_2009_2010 = pd.read_csv('./Laboratory/VID_F.csv')

VID_F = VID_2009_2010.filter(['SEQN', 'LBXVIDMS'], axis=1)
VID_cols = {'SEQN':'SEQN', 'LBXVIDMS': 'lab_VitD'}

VID_F.columns = VID_F.columns.map(VID_cols)

In [291]:
# VITB12_F.head()

In [292]:
VID_F.head()

      SEQN  lab_VitD
0  51624.0      75.7
1  51625.0      59.9
2  51626.0      32.8
3  51627.0      45.1
4  51628.0      49.2

## Examination Data

### Blood Pressure (BPX_F)

variables:
- BPXSY1 : systolic_BP - Systolic: Blood pres (1st rdg) mm Hg
- BPXDI1 : diastolic_BP - Diastolic: Blood pres (1st rdg) mm Hg
- BPXPLS - 60 sec. pulse (30 sec. pulse * 2) - 0 to 180, missing

In [293]:
BPX_2009_2010 = pd.read_csv('./Examination/BPX_F.csv')

BPX_F = BPX_2009_2010.filter(['SEQN', 'BPXSY1', 'BPXDI1','BPXPLS'], axis=1)
BPX_cols = {'SEQN':'SEQN', 'BPXSY1': 'systolic_BP', 'BPXDI1' : 'diastolic_BP','BPXPLS':'pulse'}

BPX_F.columns = BPX_F.columns.map(BPX_cols)

In [294]:
BPX_F.head(2)

      SEQN  systolic_BP  diastolic_BP  pulse
0  51624.0        114.0          88.0   70.0
1  51625.0          NaN           NaN    NaN

### Body Measures (BMX_F)

variables:
- BMXBMI : BMI - Body Mass Index (kg/m**2), range 12.1 to 82.9
- BMXWAIST : waist_C - Waist Circumference (cm), 40.2 to 177.9

In [295]:
BMX_2009_2010 = pd.read_csv('./Examination/BMX_F.csv')

BMX_F = BMX_2009_2010.filter(['SEQN', 'BMXBMI', 'BMXWAIST'], axis=1)
BMX_cols = {'SEQN':'SEQN', 'BMXBMI': 'BMI', 'BMXWAIST' : 'waist_C'}

BMX_F.columns = BMX_F.columns.map(BMX_cols)

In [296]:
BMX_F.head(2)

      SEQN    BMI  waist_C
0  51624.0  32.22    100.4
1  51625.0  15.30     49.0

### Dual-Energy X-ray Absorptiometry - Whole Body (DXX_F)

variables:
- DXDTOBMD : bone_mineral_density - Total Bone Mineral Density (g/cm^2), range 0.559 to 1.548

In [297]:
# DXX_2009_2010 = pd.read_csv('./Examination/DXX_F.csv')

# DXX_F = DXX_2009_2010.filter(['SEQN', 'DXDTOBMD'], axis=1)
# DXX_cols = {'SEQN':'SEQN', 'DXDTOBMD': 'bone_mineral_density'}

# DXX_F.columns = DXX_F.columns.map(DXX_cols)

In [298]:
# DXX_F.head(2)

### Oral Health

OHXREF_F
- OHAREC - Overall recommendation for care
    - 1 - See a dentist immediately
    - 2 - See a dentist within the next 2 weeks	
    - 3 - See a dentist at your earliest convenience
    - 4 - Continue your regular routine care
    - Missing

In [299]:
OHXREF_2009_2010 = pd.read_csv('./Examination/OHXREF_F.csv')

OHXREF_F = OHXREF_2009_2010.filter(['SEQN', 'OHAREC'], axis=1)
OHXREF_cols = {'SEQN':'SEQN', 'OHAREC': 'oral_rec'}

OHXREF_F.columns = OHXREF_F.columns.map(OHXREF_cols)

In [300]:
OHXREF_F.head()

      SEQN  oral_rec
0  51624.0       4.0
1  51625.0       3.0
2  51626.0       4.0
3  51627.0       4.0
4  51628.0       1.0

# Merging dataframes

In [301]:
from functools import reduce

# list of df
# minus DLQ_F, CSQ_F, DXX_F, CUSEZN_F, FOLFMS_F, VITB12_F
data_frames = [DPQ_F, OSQ_F, DEMO_F, DIET_F, DIQ_F, DBQ_F, DUQ_F, HUQ_F, HIQ_F, 
               HOQ_F, ECQ_F, FSQ_F, INQ_F, MCQ_F, KIQ_U_F, OCQ_F, OHQ_F, 
               PAQ_F, PFQ_F, SLQ_F, SMQ_F, SMQRTU_F, SXQ_F, ALQ_F, WHQ_F, 
               HDL_F, TRIGLY_F, TCHOL_F, GHB_F, HSV_F, HIV_F,
               FOLATE_F, GLU_F, VID_F, BPX_F, BMX_F, OHXREF_F]

df_2009_2010 = reduce(lambda  left,right: pd.merge(left,right,on=['SEQN'],
                                            how='outer'), data_frames)

In [302]:
df_2009_2010.depressed

0        0.0
1        1.0
2        0.0
3        0.0
4        0.0
        ...
10532    NaN
10533    NaN
10534    NaN
10535    NaN
10536    NaN
Name: depressed, Length: 10537, dtype: float64

In [303]:
df_2009_2010.dropna(subset=['depressed'], inplace=True)

In [304]:
df_2009_2010.shape

(5576, 104)

In [305]:
df_2009_2010.columns

Index(['SEQN', 'depressed', 'broken_hip', 'doc_osteoporosis', 'race_ethnicity',
       'edu_level', '#_ppl_household', 'age', 'gender', 'annual_HI',
       ...
       'rbc_folate', 'serum_folate', 'fasting_glucose', 'lab_VitD',
       'systolic_BP', 'diastolic_BP', 'pulse', 'BMI', 'waist_C', 'oral_rec'],
      dtype='object', length=104)

# Export 2009-2010 data

In [306]:
df_2009_2010.to_csv('/Users/carolinesklaver/Desktop/Capstone/NHANES/data/csv_data/df_2009_2010_ext.csv', index=False)