In [155]:
import pandas as pd
import numpy as np

# 2011-2012 Data

In [156]:
# 2011-2012
path = '/Users/carolinesklaver/Desktop/Capstone/NHANES/data/csv_data/2011-2012'

import os
os.chdir(path)

## PHQ-9 Survey - part of Questionnaire

In [157]:
DPQ_2011_2012 = pd.read_csv('./Questionnaire/DPQ_G.csv')

In [158]:
DPQ_2011_2012.head()

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100
0,62161.0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,NaN
1,62164.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62169.0,1.000000e+00,5.397605e-79,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,5.397605e-79,1.000000e+00,5.397605e-79,5.397605e-79
3,62172.0,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000e+00
4,62174.0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,NaN

In [159]:
# drop final follow-up question
DPQ_2011_2012.drop(['DPQ100'], axis=1, inplace=True)

In [160]:
# values less than 1 are zero
def set_zero(df):
    df[df<1] = 0
    
set_zero(DPQ_2011_2012)

In [161]:
# need to drop rows where not all col are complete
DPQ_2011_2012.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

In [162]:
# take a sum across rows and save as new col
DPQ_2011_2012['sum'] = DPQ_2011_2012.iloc[:,1:].sum(axis=1)

In [163]:
# create new target label 'depressed' if sum is greater than 10 --> 1, otherwise 0
DPQ_2011_2012.loc[DPQ_2011_2012['sum'] > 10, 'depressed'] = 1
DPQ_2011_2012.loc[DPQ_2011_2012['sum'] <= 10, 'depressed'] = 0

In [164]:
DPQ_2011_2012.head()

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,sum,depressed
0,62161.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,62169.0,1.0,0.0,1.0,1.0,1.0,2.0,0.0,1.0,0.0,7.0,0.0
3,62172.0,1.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,6.0,0.0
4,62174.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,62176.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [165]:
DPQ_2011_2012.shape

(4944, 12)

In [166]:
DPQ_G = DPQ_2011_2012[['SEQN', 'depressed']]

In [167]:
DPQ_G.head()

      SEQN  depressed
0  62161.0        0.0
2  62169.0        0.0
3  62172.0        0.0
4  62174.0        0.0
5  62176.0        0.0

In [168]:
len(DPQ_2011_2012[DPQ_2011_2012['depressed']==1])  # about 8% depressed = true

378

## Demographic Data

### Demographic Variables and Sample Weights (DEMO_G)

In [169]:
# start with demographic data
DEMO_2011_2012 = pd.read_csv('./Demographics/DEMO_G.csv')

In [170]:
DEMO_2011_2012.head(10)

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGY,...,DMDFMSIZ,DMDHHSZA,DMDHHSZB,DMDHHSZE,DMDHRGND,DMDHRAGE,DMDHRBR4,DMDHREDU,DMDHRMAR,DMDHSEDU
0,62161.0,7.0,2.0,1.0,2.200000e+01,NaN,3.0,3.0,2.0,NaN,...,5.0,5.397605e-79,1.0,5.397605e-79,2.0,50.0,1.0,5.0,1.0,5.0
1,62162.0,7.0,2.0,2.0,3.000000e+00,NaN,1.0,1.0,1.0,3.0,...,6.0,2.000000e+00,2.0,5.397605e-79,2.0,24.0,1.0,3.0,6.0,NaN
2,62163.0,7.0,2.0,1.0,1.400000e+01,NaN,5.0,6.0,2.0,14.0,...,5.0,5.397605e-79,2.0,1.000000e+00,1.0,42.0,1.0,5.0,1.0,4.0
3,62164.0,7.0,2.0,2.0,4.400000e+01,NaN,3.0,3.0,1.0,NaN,...,5.0,1.000000e+00,2.0,5.397605e-79,1.0,52.0,1.0,4.0,1.0,4.0
4,62165.0,7.0,2.0,2.0,1.400000e+01,NaN,4.0,4.0,2.0,14.0,...,5.0,1.000000e+00,2.0,5.397605e-79,2.0,33.0,2.0,2.0,77.0,NaN
5,62166.0,7.0,2.0,1.0,9.000000e+00,NaN,3.0,3.0,2.0,10.0,...,6.0,5.397605e-79,4.0,5.397605e-79,1.0,44.0,1.0,5.0,1.0,5.0
6,62167.0,7.0,2.0,1.0,5.397605e-79,11.0,5.0,6.0,1.0,NaN,...,4.0,3.000000e+00,3.0,1.000000e+00,1.0,61.0,2.0,1.0,1.0,3.0
7,62168.0,7.0,2.0,1.0,6.000000e+00,NaN,5.0,7.0,1.0,6.0,...,5.0,5.397605e-79,2.0,1.000000e+00,1.0,43.0,1.0,4.0,1.0,5.0
8,62169.0,7.0,2.0,1.0,2.100000e+01,NaN,5.0,6.0,1.0,NaN,...,5.0,5.397605e-79,1.0,5.397605e-79,1.0,51.0,2.0,1.0,4.0,NaN
9,62170.0,7.0,2.0,1.0,1.500000e+01,NaN,5.0,7.0,1.0,15.0,...,4.0,5.397605e-79,2.0,5.397605e-79,1.0,38.0,2.0,5.0,1.0,5.0

Demographics variables:
- DMDBORN4: Due to the concerns of disclosure risk, starting in 2011, country of birth was recoded into two categories: 1) Born in 50 U.S. states or Washington, DC; and 2) Born in other countries, including U.S. territories.

- DMDEDUC2: This variable is the highest grade or level of education completed by adults 20 years and older. The response categories are: less than 9th grade education, 9-11th grade education (includes 12th grade and no diploma), High school graduate/GED, some college or associates (AA) degree, and college graduate or higher.

- DMDHHSIZ: This variable is the number of people in the participant’s household. The values for this variable range from 1 to 7. Due to disclosure concerns, households that are comprised of 7 or more people are included in the category that is labeled ‘7 or more’.

- RIDAGEYR: Age in years, at the time of the screening interview, is reported for survey participants between the ages of 1 and 79 years of age. All responses of participants aged 80 years and older are coded as ‘80.’

- RIAGENDR: Gender: male 1, female 2

- INDHHIN2: Total household income (reported as a range value in dollars), range 1-15, 77 refused, 99 dont know

- DMQMIL1Z: Served active duty in US Armed Forces, 1 yes, 0 no, 7 refuse, 9 dont know

- DMDMARTL: Marital status - 1 Married, 2 widowed, 3 divorced, 4 separated, 5 never married, 6 living with partner, 77 refused

In [174]:
# filter only relevant cols
DEMO_G = DEMO_2011_2012.filter(['SEQN','RIDRETH1', 'DMDEDUC2', 'DMDHHSIZ', 'RIDAGEYR', 'RIAGENDR','INDHHIN2', 
                        'DMQMIL1Z', 'DMDMARTL'], axis=1)

In [175]:
# rename col to be more useful
demo_cols = {'SEQN': 'SEQN', 'RIDRETH1':'race_ethnicity', 'DMDEDUC2': 'edu_level', 'DMDHHSIZ': '#_ppl_household', 
               'RIDAGEYR': 'age', 'RIAGENDR': 'gender','INDHHIN2': 'annual_HI', 
                        'DMQMIL1Z': 'served_army', 'DMDMARTL':'marital_status'}

DEMO_G.columns = DEMO_G.columns.map(demo_cols)

In [176]:
DEMO_G.head()

,SEQN,race_ethnicity,edu_level,#_ppl_household,age,gender,annual_HI,marital_status
0,62161.0,3.0,3.0,5.0,22.0,1.0,14.0,5.0
1,62162.0,1.0,NaN,6.0,3.0,2.0,4.0,NaN
2,62163.0,5.0,NaN,5.0,14.0,1.0,15.0,NaN
3,62164.0,3.0,4.0,5.0,44.0,2.0,8.0,1.0
4,62165.0,4.0,NaN,5.0,14.0,2.0,4.0,NaN

## Dietary Data

### Dietary Interview - Total Nutrient Intakes, First Day (DR1TOT_G)

In [177]:
DIET_2011_2012 = pd.read_csv('./Dietary/DR1TOT_G.csv')

Dietary variables:
- DR1TCAFF : caffeine - Caffeine (mg) range 0 to 2448
- DRQSDIET - On special diet? - 1,2,9, missing
- DR1TPROT - Protein (gm) - 0 to 869.49, missing
- DR1TCARB - Carbohydrate (gm) - 8.67 to 1423.87, missing
- DR1TSUGR - Total sugars (gm) - 0.13 to 1115.5, missing
- DR1TFIBE - Dietary fiber (gm) - 0 to 136.6, missing
- DR1TTFAT - Total fat (gm) - 0 to 548.38, missing
- DR1TCHOL - Cholesterol (mg) - 0 to 3515, missing
- DR1TVB6 - Vitamin B6 (mg)
- DR1TFOLA - Total folate (mcg) - 0 to 3172, missing
- DR1TVB12 - Vitamin B12 (mcg) - 0 to 110, missing
- DR1TVD - Vitamin D (D2 + D3) (mcg) - 0 to 86.3, missing
- DR1TMAGN - Magnesium (mg) - 0 2725, missing
- DR1TIRON - Iron (mg) - 0 to 130, missing
- DR1TZINC - Zinc (mg) - 0 to 116, missing
- DR1TSELE - Selenium (mcg) - 0 to 986.5, missing
- DR1_320Z - Total plain water drank yesterday (gm) - 0 13440, missing

In [178]:
# filter only relevant cols
DIET_G = DIET_2011_2012.filter(['SEQN', 'DR1TCAFF', 'DRQSDIET', 'DR1TPROT','DR1TCARB','DR1TSUGR','DR1TFIBE',
                               'DR1TTFAT','DR1TCHOL','DR1TVB6','DR1TFOLA','DR1TVB12','DR1TVD',
                               'DR1TMAGN','DR1TIRON','DR1TZINC','DR1TSELE','DR1_320Z'], axis=1)

diet_cols = {'SEQN': 'SEQN', 'DR1TCAFF':'caffeine','DRQSDIET': 'special_diet', 'DR1TPROT':'protein',
             'DR1TCARB':'carb','DR1TSUGR':'sugar','DR1TFIBE':'fiber',
            'DR1TTFAT':'fat','DR1TCHOL':'diet_chol','DR1TVB6':'VitB6','DR1TFOLA':'folate',
             'DR1TVB12':'VitB12','DR1TVD':'VitD', 'DR1TMAGN':'magnesium',
             'DR1TIRON':'iron','DR1TZINC':'zinc','DR1TSELE':'selenium','DR1_320Z':'water'}

DIET_G.columns = DIET_G.columns.map(diet_cols)

In [179]:
DIET_G.head()

,SEQN,caffeine,special_diet,protein,carb,sugar,fiber,fat,diet_chol,VitB6,folate,VitB12,VitD,magnesium,iron,zinc,selenium,water
0,62161.0,5.397605e-79,2.0,104.68,359.59,109.09,18.6,123.81,328.0,1.414,432.0,3.89,7.1,333.0,17.96,11.62,152.1,1.420000e+03
1,62162.0,3.000000e+00,2.0,61.09,203.18,112.71,9.0,48.94,202.0,1.314,332.0,3.40,2.1,136.0,12.27,9.69,86.3,4.721900e+02
2,62163.0,3.000000e+00,2.0,72.64,280.23,114.94,7.4,41.95,138.0,1.886,567.0,9.69,14.5,256.0,26.93,16.66,96.3,5.397605e-79
3,62164.0,2.510000e+02,2.0,73.13,91.67,32.29,9.5,51.54,207.0,1.480,130.0,0.54,0.1,189.0,5.27,4.82,89.5,3.555000e+03
4,62165.0,2.100000e+01,2.0,76.35,143.52,72.34,6.9,67.80,260.0,1.085,177.0,1.67,1.9,149.0,6.59,5.56,97.1,5.000000e+02

## Questionnaire Data

### Diabetes

variables
- DIQ010 : doc_diabetes - {Have you/Has SP}} ever been told by a doctor or health professional that {you have/{he/she/SP} has} diabetes or sugar diabetes? 1 yes, 2 no, 3 boarderline
- DIQ160 : doc_prediabetes - {Have you/Has SP} ever been told by a doctor or other health professional that {you have/SP has} any of the following: prediabetes, impaired fasting glucose, impaired glucose tolerance, borderline diabetes or that {your/her/his} blood sugar is higher than normal but not high enough to be called diabetes or sugar diabetes? 1 yes, 2 no

In [180]:
DIQ_2011_2012 = pd.read_csv('./Questionnaire/DIQ_G.csv')

In [181]:
DIQ_2011_2012.columns

Index(['SEQN', 'DIQ010', 'DID040', 'DIQ160', 'DIQ170', 'DIQ172', 'DIQ175A',
       'DIQ175B', 'DIQ175C', 'DIQ175D', 'DIQ175E', 'DIQ175F', 'DIQ175G',
       'DIQ175H', 'DIQ175I', 'DIQ175J', 'DIQ175K', 'DIQ175L', 'DIQ175M',
       'DIQ175N', 'DIQ175O', 'DIQ175P', 'DIQ175Q', 'DIQ175R', 'DIQ175S',
       'DIQ175T', 'DIQ175U', 'DIQ175V', 'DIQ175W', 'DIQ180', 'DIQ050',
       'DID060', 'DIQ060U', 'DIQ070', 'DIQ230', 'DIQ240', 'DID250', 'DID260',
       'DIQ260U', 'DIQ275', 'DIQ280', 'DIQ291', 'DIQ300S', 'DIQ300D',
       'DID310S', 'DID310D', 'DID320', 'DID330', 'DID341', 'DID350', 'DIQ350U',
       'DIQ360', 'DIQ080'],
      dtype='object')

In [182]:
DIQ_G = DIQ_2011_2012.filter(['SEQN','DIQ010', 'DIQ160'], axis=1)

In [183]:
# rename col to be more useful
DIQ_cols = {'SEQN':'SEQN', 'DIQ010':'doc_diabetes', 'DIQ160': 'doc_prediabetes'}

DIQ_G.columns = DIQ_G.columns.map(DIQ_cols)

In [184]:
DIQ_G.head()

      SEQN  doc_diabetes  doc_prediabetes
0  62161.0           2.0              2.0
1  62162.0           2.0              NaN
2  62163.0           2.0              2.0
3  62164.0           2.0              2.0
4  62165.0           2.0              2.0

### Diet Questionnaire

Variables:
- CBQ505 : fast_food_12m - In the past 12 months, did you buy food from fast food or pizza places?
- DBD895 : #meals_not_Gome - During the past 7 days, how many meals {did you/did SP} get that were prepared away from home in places such as restaurants, fast food places, food stands, grocery stores, or from vending machines?
    - 0 None, 1 to 21 range, 5555 more than 21 meals per week, 7777 refused, 9999 dont know
- DBD900 : #meals_fast_food - How many of those meals {did you/did SP} get from a fast-food or pizza place?
- DBQ700 : how_Gealthy_diet - In general, how healthy is {your/his/her} overall diet? 
    - Excellent to Poor: 1-5

In [185]:
DBQ_2011_2012 = pd.read_csv('./Questionnaire/DBQ_G.csv')

In [186]:
DBQ_2011_2012.columns

Index(['SEQN', 'DBQ010', 'DBD030', 'DBD041', 'DBD050', 'DBD055', 'DBD061',
       'DBQ073A', 'DBQ073B', 'DBQ073C', 'DBQ073D', 'DBQ073E', 'DBQ073U',
       'DBQ700', 'DBQ197', 'DBQ223A', 'DBQ223B', 'DBQ223C', 'DBQ223D',
       'DBQ223E', 'DBQ223U', 'DBQ229', 'DBQ235A', 'DBQ235B', 'DBQ235C',
       'DBQ301', 'DBQ330', 'DBQ360', 'DBQ370', 'DBD381', 'DBQ390', 'DBQ400',
       'DBD411', 'DBQ421', 'DBQ424', 'DBD895', 'DBD900', 'DBD905', 'DBD910',
       'CBQ595', 'CBQ600', 'CBQ605', 'CBQ610'],
      dtype='object')

In [190]:
DBQ_G = DBQ_2011_2012.filter(['SEQN','DBD900', 'DBQ700'], axis=1)

In [191]:
# rename col to be more useful
DBQ_cols = {'SEQN':'SEQN',
                  'DBD900':'#meals_fast_food', 'DBQ700': 'how_healthy_diet'}

DBQ_G.columns = DBQ_G.columns.map(DBQ_cols)

In [192]:
DBQ_G.head()

      SEQN  #meals_fast_food  how_healthy_diet
0  62161.0      2.000000e+00               2.0
1  62162.0               NaN               NaN
2  62163.0               NaN               NaN
3  62164.0      5.397605e-79               1.0
4  62165.0      2.000000e+00               NaN

### Sight & Hearing

variables:
- DLQ010 : difficult_Gearing - 1 yes, 2 no
- DLQ020 : difficult_seeing - 1 yes, 2 no
- DLQ050 - Have serious difficulty walking ? 
    - 1=yes, 2=no, 7/9
- DLQ080 - Have difficulty doing errands alone ? 
    - 1=yes, 2=no, 7/9

In [193]:
# DLQ_2011_2012 = pd.read_csv('./Questionnaire/DLQ_G.csv')

In [194]:
# DLQ_2011_2012.columns

In [195]:
# DLQ_G = DLQ_2011_2012.filter(['SEQN','DLQ010','DLQ020','DLQ050','DLQ080'], axis=1)

In [196]:
# rename col to be more useful
# DLQ_cols = {'SEQN':'SEQN', 'DLQ010': 'difficult_Gearing', 'DLQ020': 'difficult_seeing',
#           'DLQ050':'difficult_walking','DLQ080':'difficult_errands'}

# DLQ_G.columns = DLQ_G.columns.map(DLQ_cols)

In [197]:
# DLQ_G.head()

### Drugs

variables: 
- DUQ211 : used_marijuana - Have you ever smoked marijuana or hashish at least once a month for more than one year?
- DUQ230 : # days used marijuana or hashish/month
- DUQ240 : used_CMH - Have you ever used cocaine, crack cocaine, heroin, or methamphetamine?
- DUQ370 : injected_drugs - Have you ever, even once, used a needle to inject a drug not prescribed by a doctor?

    - 1 yes, 2 no, 7 refused, 9 don't know

In [201]:
DUQ_2011_2012 = pd.read_csv('./Questionnaire/DUQ_G.csv')

In [202]:
DUQ_G = DUQ_2011_2012.filter(['SEQN', 'DUQ240'], axis=1)

In [203]:
DUQ_cols = {'SEQN':'SEQN', 'DUQ240':'used_CMH'}

DUQ_G.columns = DUQ_G.columns.map(DUQ_cols)

In [204]:
DUQ_G.head()

      SEQN  used_CMH
0  62161.0       2.0
1  62164.0       NaN
2  62169.0       2.0
3  62172.0       2.0
4  62176.0       2.0

### Health Care

HSQ_G
- HSD010 - General health condition
1 - Excellent
2 - Very good
3 - Good
4 - Fair
5 - Poor
7 - Refused, 9 - Don’t Know

HUQ_G
- HUQ010 - General health condition
1 - Excellent
2 - Very good
3 - Good
4 - Fair
5 - Poor
7 - Refused, 9 - Don’t Know
- HUQ041 / 040 - Type place most often go for healthcare
1- Clinic or health center
2 - Doctor's office or HMO
3 - Hospital emergency room
4 - Hospital outpatient department	
5 - Some other place
6 - Doesn't go to one place most often
77 - Refused, 99 - Don't know
- HUQ051/050 - #times receive healthcare over past year
0 - 8 are ranges, 77, 99
- HUQ090 - Seen mental health professional/past yr
1, 2, 7, 9

In [208]:
HUQ_2011_2012 = pd.read_csv('./Questionnaire/HUQ_G.csv')

HUQ_G = HUQ_2011_2012.filter(['SEQN', 'HUQ010', 'HUQ040','HUQ050'], axis=1)
HUQ_cols = {'SEQN':'SEQN', 'HUQ010': 'gen_health_cond','HUQ040':'place_healthcare',
            'HUQ050':'healthcare_past_yr'}

HUQ_G.columns = HUQ_G.columns.map(HUQ_cols)

In [209]:
HUQ_2011_2012.head()

,SEQN,HUQ010,HUQ020,HUQ030,HUQ040,HUQ050,HUQ060,HUQ071,HUD080,HUQ090
0,62161.0,1.0,3.0,1.0,1.0,2.0,NaN,2.0,NaN,2.0
1,62162.0,1.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,NaN
2,62163.0,2.0,3.0,1.0,2.0,2.0,NaN,2.0,NaN,2.0
3,62164.0,1.0,1.0,1.0,2.0,1.0,NaN,2.0,NaN,2.0
4,62165.0,4.0,1.0,1.0,2.0,1.0,NaN,2.0,NaN,2.0

In [210]:
HUQ_G.head()

      SEQN  gen_health_cond  place_healthcare  healthcare_past_yr
0  62161.0              1.0               1.0                 2.0
1  62162.0              1.0               2.0                 2.0
2  62163.0              2.0               2.0                 2.0
3  62164.0              1.0               2.0                 1.0
4  62165.0              4.0               2.0                 1.0

### Health Insurance

variables:
- HIQ011 : health_insurance - {Are you/Is SP} covered by health insurance or some other kind of health care plan? 1 yes, 2 no

In [211]:
HIQ_2011_2012 = pd.read_csv('./Questionnaire/HIQ_G.csv')

HIQ_G = HIQ_2011_2012.filter(['SEQN', 'HIQ011'], axis=1)
HIQ_cols = {'SEQN':'SEQN', 'HIQ011': 'health_insurance'}

HIQ_G.columns = HIQ_G.columns.map(HIQ_cols)

In [212]:
HIQ_G.head()

      SEQN  health_insurance
0  62161.0               1.0
1  62162.0               1.0
2  62163.0               1.0
3  62164.0               1.0
4  62165.0               2.0

### Househole Characteristics

HOQ_G
- HOD050 - Number of rooms in home
1-13, 777, 999
- HOQ065 - Home owned, bought, rented, other
1 - Owned or being bought
2 - Rented
3 - Other arrangements
7 - Refused, 9 - Don't know

In [213]:
HOQ_2011_2012 = pd.read_csv('./Questionnaire/HOQ_G.csv')

HOQ_G = HOQ_2011_2012.filter(['SEQN', 'HOD050','HOQ065'], axis=1)
HOQ_cols = {'SEQN':'SEQN', 'HOD050': '#_rooms','HOQ065':'home_ownership'}

HOQ_G.columns = HOQ_G.columns.map(HOQ_cols)

In [214]:
HOQ_G.head()

      SEQN  #_rooms  home_ownership
0  62161.0     10.0             1.0
1  62162.0      6.0             2.0
2  62163.0      6.0             2.0
3  62164.0      6.0             1.0
4  62165.0      5.0             2.0

### Early Childhood

ECQ_G
- ECQ020 - Mother smoked when pregnant
1=yes, 2=no, 7/9

In [215]:
ECQ_2011_2012 = pd.read_csv('./Questionnaire/ECQ_G.csv')

ECQ_G = ECQ_2011_2012.filter(['SEQN', 'ECQ020'], axis=1)
ECQ_cols = {'SEQN':'SEQN', 'ECQ020': 'mom_smoked_preg'}

ECQ_G.columns = ECQ_G.columns.map(ECQ_cols)

In [216]:
ECQ_G.head()

      SEQN  mom_smoked_preg
0  62162.0              2.0
1  62163.0              2.0
2  62165.0              2.0
3  62166.0              2.0
4  62167.0              2.0

### Food Security

FSQ_G
- FSD032A - HH Worried run out of food
    - 1 - Often true
    - 2 - Sometimes true
    -  - Never true
    - 7 - Refused, 9 - Don't know
- FSD032B - HH Food didn't last
    - “ “
- FSD032C - HH Couldn't afford balanced meals
    - “ “
- FSD041 - HH Adults cut size or skip meals
    - 1, 2, 7, 9
- FSD032D - HH Relied on low-cost food for child
1 - Often true
2 - Sometimes true
3 - Never true
7 - Refused, 9 - Don't know
- FSDHH - Household food security category
1 - HH full food security: 0
2 - HH marginal food security: 1-2
3 - HH low food security: 3-5 (HH w/o child) / 3-7 (HH w/ child)
4 - HH very low food security: 6-10 (HH w/o child) / 8-18 (HH w/ child)
No 7/9, just missing
- FSQ012 / 171 - HH FS benefit: receive in last 12 months
1, 2, 7, 9
- FSQ162 - HH WIC benefit: receive in last 12 month
1,2,7,9

In [217]:
FSQ_2011_2012 = pd.read_csv('./Questionnaire/FSQ_G.csv')

FSQ_G = FSQ_2011_2012.filter(['SEQN', 'FSD032A', 'FSD032B', 'FSD032C', 'FSD041', 'FSD032D', 'FSDHH',
                             'FSQ171', 'FSQ162'], axis=1)

 
FSQ_cols = {'SEQN': 'SEQN', 'FSD032A':'run_out_food', 'FSD032B':'food_didnt_last', 'FSD032C':'afford_balanced_meals', 
             'FSD041':'adults_skip_meals', 'FSD032D':'relied_cheap_food', 'FSDHH':'food_security_cat',
             'FSQ171':'food_stamps', 'FSQ162':'WIC'}

FSQ_G.columns = FSQ_G.columns.map(FSQ_cols)

In [218]:
FSQ_G.head()

,SEQN,run_out_food,food_didnt_last,afford_balanced_meals,adults_skip_meals,relied_cheap_food,food_security_cat,food_stamps,WIC
0,62161.0,3.0,3.0,3.0,NaN,3.0,1.0,NaN,2.0
1,62162.0,2.0,3.0,3.0,2.0,3.0,2.0,1.0,2.0
2,62163.0,3.0,3.0,3.0,NaN,3.0,1.0,NaN,2.0
3,62164.0,3.0,3.0,3.0,NaN,3.0,1.0,1.0,2.0
4,62165.0,2.0,3.0,1.0,2.0,3.0,3.0,2.0,2.0

### Income

INQ_G
- IND235 - Monthly family income
    - 1-12 ranges, 77, 99
- INQ244 - Family has savings more than $5000
    - 1,2,7,9

In [219]:
INQ_2011_2012 = pd.read_csv('./Questionnaire/INQ_G.csv')

INQ_G = INQ_2011_2012.filter(['SEQN', 'IND235', 'INQ244'], axis=1)

INQ_cols = {'SEQN': 'SEQN', 'IND235':'monthly_income', 'INQ244':'savings_5000'}

INQ_G.columns = INQ_G.columns.map(INQ_cols)

In [220]:
INQ_G.head()

      SEQN  monthly_income  savings_5000
0  62161.0            77.0           NaN
1  62162.0             4.0           2.0
2  62163.0            12.0           NaN
3  62164.0             6.0           2.0
4  62165.0             3.0           2.0

### Medical Conditions

variables:
- MCQ010 : doc_asthma - Has a doctor or other health professional ever told {you/SP} that {you have/s/he/SP has} asthma (az-ma)?
- MCQ080 : doc_overweight - Has a doctor or other health professional ever told {you/SP} that {you were/s/he/SP was} overweight?
- MCQ160a :  doc_arthritis - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had arthritis (ar-thry-tis)?
- MCQ160b :  doc_CHF - Has a doctor or other health professional ever told {you/SP} that {you/s/he}had congestive heart failure?
- MCQ160c : doc_CHD - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had coronary (kor-o-nare-ee) heart disease?
- MCQ160e : doc_Geart_attack - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had a heart attack (also called myocardial infarction (my-o-car-dee-al in-fark-shun))?
- MCQ160f : doc_stroke - Has a doctor or other health professional ever told {you/SP} that {you/s/her} had a stroke?
- MCQ160k : doc_chronic_bronchitis - Has a doctor or other health professional ever told {you/SP} that {you/s/he} . . .had chronic bronchitis?
- MCQ160l : doc_liver_condition - Has a doctor or other health professional ever told {you/SP} that {you/s/he} . . .had any kind of liver condition?
- MCQ160m : doc_thyroid_problem - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had another thyroid (thigh-roid) problem?
- MCQ160o : doc_COPD - Has a doctor or other health professional ever told {you/SP} that {you/s/he} had COPD?
- MCQ220 : doc_cancer - {Have you/Has SP} ever been told by a doctor or other health professional that {you/s/he} had cancer or a malignancy (ma-lig-nan-see) of any kind?
- MCQ365a : doc_lose_weight - To lower {your/SP's} risk for certain diseases, during the past 12 months {have you/has s/he} ever been told by a doctor or health professional to: control {your/his/her} weight or lose weight?
- MCQ365b : doc_exercise - To lower {your/SP's} risk for certain diseases, during the past 12 months {have you/has s/he} ever been told by a doctor or health professional to: increase {your/his/her} physical activity or exercise?
- MCQ053 - Taking treatment for anemia/past 3 mos
    - 1,2,7,9
- MCQ084 - Difficulties in thinking or remembering
    - 1, 2, 7, 9
- MCQ230a - What kind of cancer
    - 10-39 different kinds, 66 = more than 3, 77, 99

In [223]:
MCQ_2011_2012 = pd.read_csv('./Questionnaire/MCQ_G.csv')

MCQ_G = MCQ_2011_2012.filter(['SEQN', 'MCQ010', 'MCQ080', 'MCQ160A', 'MCQ160B', 'MCQ160C', 'MCQ160E',
 'MCQ160F', 'MCQ160K', 'MCQ160L', 'MCQ160M', 'MCQ160O', 'MCQ220','MCQ053',
                             'MCQ084','MCQ230A'], axis=1)

 
MCQ_cols = {'SEQN': 'SEQN', 'MCQ010':'doc_asthma', 'MCQ080':'doc_overweight', 'MCQ160A':'doc_arthritis', 
 'MCQ160B':'doc_CHF', 'MCQ160C':'doc_CHD', 'MCQ160E':'doc_heart_attack',
 'MCQ160F':'doc_stroke', 'MCQ160K':'doc_chronic_bronchitis', 'MCQ160L':'doc_liver_condition', 
 'MCQ160M':'doc_thyroid_problem', 'MCQ160O':'doc_COPD', 'MCQ220':'doc_cancer','MCQ053': 'anemia',
                             'MCQ084':'difficult_remembering','MCQ230A':'cancer_type'}

MCQ_G.columns = MCQ_G.columns.map(MCQ_cols)

In [226]:
MCQ_G.head()

,SEQN,doc_asthma,doc_overweight,doc_arthritis,doc_CHF,doc_CHD,doc_heart_attack,doc_stroke,doc_chronic_bronchitis,doc_liver_condition,doc_thyroid_problem,doc_cancer,anemia,difficult_remembering,cancer_type
0,62161.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN
1,62162.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2,62163.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
3,62164.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN
4,62165.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN

### Kidney Conditions - Urology (KIQ_U_G)

variables
- KIQ022: doc_kidney - {Have you/Has SP} ever been told by a doctor or other health professional that {you/s/he} had weak or failing kidneys? Do not include kidney stones, bladder infections, or incontinence.

In [227]:
KIQ_U_2011_2012 = pd.read_csv('./Questionnaire/KIQ_U_G.csv')

KIQ_U_G = KIQ_U_2011_2012.filter(['SEQN', 'KIQ022'], axis=1)
KIQ_U_cols = {'SEQN':'SEQN', 'KIQ022': 'doc_kidney'}

KIQ_U_G.columns = KIQ_U_G.columns.map(KIQ_U_cols)

In [228]:
KIQ_U_G.head()

      SEQN  doc_kidney
0  62161.0         2.0
1  62164.0         2.0
2  62169.0         2.0
3  62172.0         2.0
4  62174.0         2.0

### Occupation

OCQ_G
- OCD150 - Type of work done last week
1 - Working at a job or business
2 - With a job or business but not at work
3 - Looking for work, or
4 - Not working at a job or business?
7 - Refused, 9-  Don’t know
- OCQ180 - Hours worked last week at all jobs
    - Range 0-120 hours
    - 77777, 999999

In [229]:
OCQ_2011_2012 = pd.read_csv('./Questionnaire/OCQ_G.csv')

OCQ_G = OCQ_2011_2012.filter(['SEQN', 'OCD150','OCQ180'], axis=1)
OCQ_cols = {'SEQN':'SEQN', 'OCD150': 'work_type','OCQ180':'hrs_worked_week'}

OCQ_G.columns = OCQ_G.columns.map(OCQ_cols)

In [230]:
OCQ_G.head()

      SEQN  work_type  hrs_worked_week
0  62161.0        1.0          99999.0
1  62164.0        1.0             42.0
2  62169.0        4.0              NaN
3  62172.0        4.0              NaN
4  62174.0        4.0              NaN

### Oral Health

OHQ_G
- OHQ680 - Last yr embarrassed because of mouth
    - 1 very often to 5 never, 7, 9

In [231]:
OHQ_2011_2012 = pd.read_csv('./Questionnaire/OHQ_G.csv')

OHQ_G = OHQ_2011_2012.filter(['SEQN', 'OHQ680'], axis=1)
OHQ_cols = {'SEQN':'SEQN', 'OHQ680': 'embarassed_mouth'}

OHQ_G.columns = OHQ_G.columns.map(OHQ_cols)

In [232]:
OHQ_G.head()

      SEQN  embarassed_mouth
0  62161.0               NaN
1  62162.0               NaN
2  62163.0               NaN
3  62164.0               5.0
4  62165.0               NaN

### Osteoperosis

variables:
- OSQ010A : broken_Gip - Has a doctor ever told {you/SP} that {you/s/he} had broken or fractured {your/his/her} . . .hip?
- OSQ060 : doc_osteoporosis - Has a doctor ever told {you/SP} that {you/s/he} had osteoporosis, sometimes called thin or brittle bones?

    - 1 yes, 2 no, 7 refused, 9 don't know

In [233]:
# OSQ_2011_2012 = pd.read_csv('./Questionnaire/OSQ_G.csv')

# OSQ_G = OSQ_2011_2012.filter(['SEQN', 'OSQ010A', 'OSQ060'], axis=1)
# OSQ_cols = {'SEQN':'SEQN', 'OSQ010A': 'broken_Gip', 'OSQ060':'doc_osteoporosis'}

# OSQ_G.columns = OSQ_G.columns.map(OSQ_cols)

In [234]:
# OSQ_2011_2012.columns

In [235]:
# OSQ_G.head()

### Physical Activity

variables:
- PAQ650 - Vigorous recreational activities - In a typical week {do you/does SP} do any vigorous-intensity sports, fitness, or recreational activities that cause large increases in breathing or heart rate like running or basketball for at least 10 minutes continuously? 1 yes 2 no
    - PAD200 - Vigorous activity over past 30 days ^^
- PAQ665 - Moderate recreational activities
    - PAD320 - Moderate activity over past 30 days ^^
- PAD680 : min_sedetary - The following question is about sitting at school, at home, getting to and from places, or with friends including time spent sitting at a desk, traveling in a car or bus, reading, playing cards, watching television, or using a computer. Do not include time spent sleeping. How much time {do you/does SP} usually spend sitting on a typical day?
- PAQ706 - Days physically active at least 60 min.
    - 1-7, 77 99
- PAQ710 - Hours watch TV or videos past 30 days
    - 1-5, 8=don’t watch, 77, 99
- PAQ715 - Hours use computer past 30 days (on average/day)
    - “ “
- PAQ722 - Any physical activity in past 7 days

In [236]:
PAQ_2011_2012 = pd.read_csv('./Questionnaire/PAQ_G.csv')

PAQ_G = PAQ_2011_2012.filter(['SEQN', 'PAQ650', 'PAD200', 'PAQ665', 'PAD320',
           'PAD680', 'PAQ706', 'PAQ710','PAQ715','PAQ722'], axis=1)

PAQ_cols = {'SEQN':'SEQN', 'PAQ650':'vigorous_activity', 'PAD200':'vigorous_activity', 'PAQ665':'moderate_activity',
           'PAD3205':'moderate_activity', 'PAD680':'min_sedetary', 'PAQ706':'days_60min_active', 
            'PAQ710':'hours_TV','PAQ715':'hours_computer','PAQ722':'activity_week'}

PAQ_G.columns = PAQ_G.columns.map(PAQ_cols)

In [237]:
PAQ_G.columns

Index(['SEQN', 'vigorous_activity', 'moderate_activity', 'min_sedetary',
       'days_60min_active', 'hours_TV', 'hours_computer'],
      dtype='object')

In [238]:
PAQ_G.head() # activity per week missing

,SEQN,vigorous_activity,moderate_activity,min_sedetary,days_60min_active,hours_TV,hours_computer
0,62161.0,2.0,2.0,300.0,NaN,3.000000e+00,3.0
1,62162.0,NaN,NaN,NaN,7.0,5.397605e-79,8.0
2,62163.0,2.0,2.0,720.0,NaN,2.000000e+00,3.0
3,62164.0,1.0,1.0,300.0,NaN,2.000000e+00,8.0
4,62165.0,1.0,1.0,600.0,NaN,5.000000e+00,2.0

### Physical Functioning

PFQ_G
- PFQ049 - Limitations keeping you from working
    - 1,2,7,9
- PFQ059 - Physical, mental, emotional limitations
    - 1,2,7,9
- PFQ061A - Managing money difficulty
    - 1 no difficulty to 4 unable to do, 5 don’t do it, 7, 9

Many other activities I could include

In [241]:
PFQ_2011_2012 = pd.read_csv('./Questionnaire/PFQ_G.csv')

PFQ_G = PFQ_2011_2012.filter(['SEQN', 'PFQ049', 'PFQ059', 'PFQ061A'], axis=1)

PFQ_cols = {'SEQN':'SEQN', 'PFQ049':'limit_work', 'PFQ059':'PME_limit', 'PFQ061A':'manage_$_difficult'}

PFQ_G.columns = PFQ_G.columns.map(PFQ_cols)

In [242]:
PFQ_G.head()

      SEQN  limit_work  PME_limit  manage_$_difficult
0  62161.0         1.0        NaN                 5.0
1  62163.0         NaN        NaN                 NaN
2  62164.0         2.0        2.0                 NaN
3  62165.0         NaN        NaN                 NaN
4  62166.0         NaN        NaN                 NaN

### Sleeping Disorders

variables:
- SLQ060 : doc_sleeping_disorder - {Have you/Has SP} ever been told by a doctor or other health professional that {you have/s/he has} a sleep disorder?
- SLD010H - How much sleep do you get (hours)?
    - 2-12, 77, 99

In [243]:
SLQ_2011_2012 = pd.read_csv('./Questionnaire/SLQ_G.csv')

SLQ_G = SLQ_2011_2012.filter(['SEQN', 'SLQ060','SLD010H'], axis=1)
SLQ_cols = {'SEQN':'SEQN', 'SLQ060': 'doc_sleeping_disorder','SLD010H':'hrs_sleep'}

SLQ_G.columns = SLQ_G.columns.map(SLQ_cols)

In [244]:
SLQ_2011_2012.columns

Index(['SEQN', 'SLD010H', 'SLQ050', 'SLQ060'], dtype='object')

In [245]:
SLQ_G.head()

      SEQN  doc_sleeping_disorder  hrs_sleep
0  62161.0                    2.0        8.0
1  62164.0                    2.0        8.0
2  62169.0                    2.0        8.0
3  62172.0                    2.0        8.0
4  62174.0                    2.0        9.0

### Smoking - Cigarette Use (SMQ_G)

variables:
- SMQ020 : smoker - These next questions are about cigarette smoking and other tobacco use. {Have you/Has SP} smoked at least 100 cigarettes in {your/his/her} entire life?

In [246]:
SMQ_2011_2012 = pd.read_csv('./Questionnaire/SMQ_G.csv')

SMQ_G = SMQ_2011_2012.filter(['SEQN', 'SMQ020'], axis=1)
SMQ_cols = {'SEQN':'SEQN', 'SMQ020': 'smoker'}

SMQ_G.columns = SMQ_G.columns.map(SMQ_cols)

In [247]:
SMQ_G.head()

      SEQN  smoker
0  62161.0     2.0
1  62163.0     NaN
2  62164.0     2.0
3  62165.0     NaN
4  62169.0     2.0

In [248]:
SMQRTU_2011_2012 = pd.read_csv('./Questionnaire/SMQRTU_G.csv')

# 680 or 681
SMQRTU_G = SMQRTU_2011_2012.filter(['SEQN', 'SMQ680'], axis=1)
SMQ_cols = {'SEQN':'SEQN', 'SMQ680': 'smoked_5days'}

SMQRTU_G.columns = SMQRTU_G.columns.map(SMQ_cols)

In [249]:
SMQRTU_G.head()

      SEQN  smoked_5days
0  62161.0           2.0
1  62163.0           2.0
2  62164.0           NaN
3  62165.0           2.0
4  62169.0           2.0

### Sexual Behavior (SXQ_G)

variables:
- SXQ292 : sexual_orientation_M - Do you think of yourself as...1 Heterosexual or straight (attracted to women), 2 Homosexual or gay (attracted to men), 3 Bisexual (attracted to men and women), 4 Something else, 5 Not sure
- SXQ294 : sexual_orientation_F - ""
- SXQ753 : doc_GPV - Has a doctor or other health care professional ever told you that you had human papillomavirus or HPV? 1 yes, 2 no, 7 refuse, 9 don't know
- SXD171 : lifetime_female_partners - In your lifetime, with how many women have you had any kind of sex?
- SXD101 : lifetime_male_partners - In your lifetime, with how many men have you had any kind of sex?

In [250]:
SXQ_2011_2012 = pd.read_csv('./Questionnaire/SXQ_G.csv')

SXQ_G = SXQ_2011_2012.filter(['SEQN', 'SXQ292', 'SXQ294', 'SXD171', 'SXD101', 'SXQ753'], axis=1)
SXQ_cols = {'SEQN':'SEQN', 'SXQ292' : 'sexual_orientation_M', 'SXQ294' : 'sexual_orientation_F', 
           'SXD171' : 'lifetime_female_partners', 'SXD101' : 'lifetime_male_partners', 'SXQ753' : 'doc_HPV'}

SXQ_G.columns = SXQ_G.columns.map(SXQ_cols)

In [251]:
SXQ_2011_2012.columns

Index(['SEQN', 'SXD021', 'SXQ800', 'SXQ803', 'SXQ806', 'SXQ809', 'SXQ700',
       'SXQ703', 'SXQ706', 'SXQ709', 'SXD031', 'SXD171', 'SXD510', 'SXQ824',
       'SXQ827', 'SXD633', 'SXQ636', 'SXQ639', 'SXD642', 'SXQ410', 'SXQ550',
       'SXQ836', 'SXQ841', 'SXQ853', 'SXD621', 'SXQ624', 'SXQ627', 'SXD630',
       'SXQ645', 'SXQ648', 'SXQ610', 'SXQ251', 'SXQ590', 'SXQ600', 'SXD101',
       'SXD450', 'SXQ724', 'SXQ727', 'SXQ130', 'SXQ490', 'SXQ741', 'SXQ753',
       'SXQ260', 'SXQ265', 'SXQ270', 'SXQ272', 'SXQ280', 'SXQ292', 'SXQ294'],
      dtype='object')

In [252]:
SXQ_G.head()

,SEQN,sexual_orientation_M,sexual_orientation_F,lifetime_female_partners,lifetime_male_partners,doc_HPV
0,62161.0,5.0,NaN,5.397605e-79,NaN,NaN
1,62164.0,NaN,NaN,NaN,NaN,NaN
2,62169.0,1.0,NaN,5.397605e-79,NaN,NaN
3,62172.0,NaN,1.0,NaN,4.0,2.0
4,62176.0,NaN,1.0,NaN,15.0,2.0

notes: may want to concat the # of partners and sexual orientation despite gender

### Taste & Smell

CSQ_G
- CSQ010 - Had problem with smell past 12 months?
    - 1,2,7,9
- CSQ080 - Had problem with taste past 12 months?
    - 1,2,7,9
- CSQ200 - Persistent cold/flu last 12 months?
    - “ “
- CSQ204 - Frequent nasal congestion in past 12 mth

In [253]:
CSQ_2011_2012 = pd.read_csv('./Questionnaire/CSQ_G.csv')

CSQ_G = CSQ_2011_2012.filter(['SEQN', 'CSQ010','CSQ080','CSQ200','CSQ204'], axis=1)
CSQ_cols = {'SEQN':'SEQN', 'CSQ010': 'prob_smell','CSQ080':'prob_tatse',
            'CSQ200':'persistent_cold','CSQ204':'nasal_congestion'}

CSQ_G.columns = CSQ_G.columns.map(CSQ_cols)

In [254]:
CSQ_G.head()

      SEQN  prob_smell  prob_tatse  persistent_cold  nasal_congestion
0  62164.0         2.0         2.0              2.0               2.0
1  62172.0         2.0         2.0              1.0               1.0
2  62174.0         2.0         2.0              2.0               2.0
3  62177.0         2.0         2.0              2.0               2.0
4  62178.0         2.0         2.0              2.0               2.0

### Alcohol Use (ALQ_G)

Variables: 
- ALQ151 : alcoholic - Was there ever a time or times in {your/SP's} life when {you/he/she} drank {DISPLAY NUMBER} or more drinks of any kind of alcoholic beverage almost every day? 1 yes, 2 no

In [255]:
ALQ_2011_2012 = pd.read_csv('./Questionnaire/ALQ_G.csv')

ALQ_G = ALQ_2011_2012.filter(['SEQN', 'ALQ151'], axis=1)
ALQ_cols = {'SEQN':'SEQN', 'ALQ151': 'alcoholic'}

ALQ_G.columns = ALQ_G.columns.map(ALQ_cols)

In [256]:
ALQ_G.head()

      SEQN  alcoholic
0  62161.0        NaN
1  62164.0        NaN
2  62169.0        2.0
3  62172.0        2.0
4  62174.0        2.0

### Weight History

WHQ_G
- WHQ030 - How do you consider your weight
    - 1 - Overweight
    - 2 - Underweight,
    - 3 - About the right weight?
    - 7 - Refused, 9 - Don’t Know
- WHQ070 - Tried to lose weight in past year
    - 1,2,7,9

In [257]:
WHQ_2011_2012 = pd.read_csv('./Questionnaire/WHQ_G.csv')

WHQ_G = WHQ_2011_2012.filter(['SEQN', 'WHQ030','WHQ070'], axis=1)
WHQ_cols = {'SEQN':'SEQN', 'WHQ030':'consider_weight','WHQ070':'tried_lose_weight'}

WHQ_G.columns = WHQ_G.columns.map(WHQ_cols)

In [258]:
WHQ_G.head()

      SEQN  consider_weight  tried_lose_weight
0  62161.0              3.0                NaN
1  62164.0              3.0                NaN
2  62169.0              3.0                2.0
3  62172.0              1.0                1.0
4  62174.0              1.0                1.0

## Laboratory Data

### Cholesterol - HDL (HDL_G)

variables:
- LBDHDD : HDL - Direct HDL-Cholesterol (mg/dL), range 10-173

In [259]:
HDL_2011_2012 = pd.read_csv('./Laboratory/HDL_G.csv')

HDL_G = HDL_2011_2012.filter(['SEQN', 'LBDHDD'], axis=1)
HDL_cols = {'SEQN':'SEQN', 'LBDHDD': 'HDL'}

HDL_G.columns = HDL_G.columns.map(HDL_cols)

In [260]:
HDL_G.head()

      SEQN   HDL
0  62161.0  41.0
1  62163.0  44.0
2  62164.0  28.0
3  62165.0  63.0
4  62166.0   NaN

### Cholesterol - LDL & Triglycerides (TRIGLY_G)

variables:

- LBDLDL - LBDLDL = ROUND(LBXTC-(LBXHDD+LBXTR/5) for LBXTR less than or equal to 400 mg/dL, and missing for LBXTR greater than 400 mg/dL, range 14-375
- LBXTR : triglyceride - Triglyceride (mg/dL), range 13-4233

In [261]:
TRIGLY_2011_2012 = pd.read_csv('./Laboratory/TRIGLY_G.csv')

TRIGLY_G = TRIGLY_2011_2012.filter(['SEQN', 'LBDLDL', 'LBXTR'], axis=1)
TRIGLY_cols = {'SEQN':'SEQN', 'LBDLDL':'LDL','LBXTR': 'triglyceride'}

TRIGLY_G.columns = TRIGLY_G.columns.map(TRIGLY_cols)

In [262]:
TRIGLY_2011_2012.columns

Index(['SEQN', 'WTSAF2YR', 'LBXTR', 'LBDTRSI', 'LBDLDL', 'LBDLDLSI'], dtype='object')

In [263]:
TRIGLY_G.head()

      SEQN    LDL  triglyceride
0  62161.0  110.0          84.0
1  62164.0  151.0          56.0
2  62165.0   84.0          71.0
3  62169.0   73.0          78.0
4  62170.0   77.0          44.0

### Cholesterol - Total (TCHOL_G)

variables:
- LBXTC : tot_cholesterol - Total Cholesterol( mg/dL), range 69-813

In [264]:
TCHOL_2011_2012 = pd.read_csv('./Laboratory/TCHOL_G.csv')

TCHOL_G = TCHOL_2011_2012.filter(['SEQN', 'LBXTC'], axis=1)
TCHOL_cols = {'SEQN':'SEQN', 'LBXTC': 'tot_cholesterol'}

TCHOL_G.columns = TCHOL_G.columns.map(TCHOL_cols)

In [265]:
TCHOL_G.head()

      SEQN  tot_cholesterol
0  62161.0            168.0
1  62163.0            154.0
2  62164.0            190.0
3  62165.0            161.0
4  62166.0              NaN

### Glycohemoglobin (GHB_G)

variables:
- LBXGH - Glycohemoglobin (%), range 3.5-17.5

In [266]:
GHB_2011_2012 = pd.read_csv('./Laboratory/GHB_G.csv')

GHB_G = GHB_2011_2012.filter(['SEQN', 'LBXGH'], axis=1)
GHB_cols = {'SEQN':'SEQN', 'LBXGH': 'glycohemoglobin'}

GHB_G.columns = GHB_G.columns.map(GHB_cols)

In [267]:
GHB_G.head()

      SEQN  glycohemoglobin
0  62161.0              5.1
1  62163.0              5.5
2  62164.0              4.9
3  62165.0              5.9
4  62169.0              5.4

### Herpes Simplex Virus Type-1 & Type-2 (HSV_G)

variables:
- LBXHE2 : herpes_2 - Herpes Simplex Virus Type 2

In [268]:
HSV_2011_2012 = pd.read_csv('./Laboratory/HSV_G.csv')

HSV_G = HSV_2011_2012.filter(['SEQN', 'LBXHE2'], axis=1)
HSV_cols = {'SEQN':'SEQN', 'LBXHE2': 'herpes_2'}

HSV_G.columns = HSV_G.columns.map(HSV_cols)

In [269]:
HSV_G.head(2)

      SEQN  herpes_2
0  62161.0       2.0
1  62163.0       NaN

### HIV Antibody Test (HIV_G)

variables:
- LBDHI : HIV - HIV antibody test result, 1 pos, 2, neg, 3 indeterminant

In [270]:
HIV_2011_2012 = pd.read_csv('./Laboratory/HIV_G.csv')

HIV_G = HIV_2011_2012.filter(['SEQN', 'LBDHI'], axis=1)
HIV_cols = {'SEQN':'SEQN', 'LBDHI': 'HIV'}

HIV_G.columns = HIV_G.columns.map(HIV_cols)

In [271]:
HIV_G.head(2)

      SEQN  HIV
0  62161.0  2.0
1  62164.0  2.0

### High-Sensitivity C-Reactive Protein (hs-CRP) (HSCRP_I) - NOT IN 2013-2014

variables:
- LBXHSCRP : CRP - HS C-Reactive Protein (mg/L), values 0-188, missing values are mostly below detection limit --> can be made to 0

In [272]:
# HSCRP_2015_2016 = pd.read_csv('./Laboratory/HSCRP_G.csv')

# HSCRP_I = HSCRP_2015_2016.filter(['SEQN', 'LBXHSCRP '], axis=1)
# HSCRP_cols = {'SEQN':'SEQN', 'LBXHSCRP ': 'CRP'}

# HSCRP_I.columns = HSCRP_I.columns.map(HSCRP_cols)

### Serums

CUSEZN_G
- LBXSSE - Serum Selenium (ug/L) - cont range, missing
- LBXSZN - Serum Zinc (ug/dL) - continuous range, missing
- URXUCR - Urinary creatinine (mg/dL) - continuous range, missing

In [273]:
CUSEZN_2011_2012 = pd.read_csv('./Laboratory/CUSEZN_G.csv')

CUSEZN_G = CUSEZN_2011_2012.filter(['SEQN', 'LBXSSE','LBXSZN','URXUCR'], axis=1)
CUSEZN_cols = {'SEQN':'SEQN', 'LBXSSE': 'serum_selenium', 'LBXSZN':'serum_zinc','URXUCR':'serum_creatinine'}

CUSEZN_G.columns = CUSEZN_G.columns.map(CUSEZN_cols)

In [274]:
CUSEZN_G.head()

      SEQN  serum_selenium  serum_zinc  serum_creatinine
0  62168.0           141.8        83.9              91.0
1  62169.0           127.4        71.3             150.0
2  62170.0           140.2       123.4             154.0
3  62171.0           100.0        92.8             109.0
4  62172.0           143.8        72.0             157.0

### Folate

FOLATE_G
- LBDRFO - RBC folate (ng/mL) -  continuous range, missing

FOLFMS_G
- LBDFOT - Serum total folate (ng/mL) -  continuous range, missing

In [275]:
FOLATE_2011_2012 = pd.read_csv('./Laboratory/FOLATE_G.csv')
FOLFMS_2011_2012 = pd.read_csv('./Laboratory/FOLFMS_G.csv')

FOLATE_G = FOLATE_2011_2012.filter(['SEQN', 'LBDRFO'], axis=1)
FOLATE_cols = {'SEQN':'SEQN', 'LBDRFO':'rbc_folate'}
FOLFMS_G = FOLFMS_2011_2012.filter(['SEQN', 'LBDFOT'], axis=1)
FOLFMS_cols = {'SEQN':'SEQN', 'LBDFOT':'serum_folate'}

FOLATE_G.columns = FOLATE_G.columns.map(FOLATE_cols)
FOLFMS_G.columns = FOLFMS_G.columns.map(FOLFMS_cols)

In [276]:
FOLFMS_G.head()

      SEQN  serum_folate
0  62161.0          20.7
1  62162.0           NaN
2  62163.0          10.4
3  62164.0          44.2
4  62165.0          24.4

In [277]:
FOLATE_G.head()

      SEQN  rbc_folate
0  62161.0       512.0
1  62162.0         NaN
2  62163.0       272.0
3  62164.0       724.0
4  62165.0       304.0

### Fasting Glucose

GLU_G
- LBXGLU - Fasting Glucose (mg/dL) - 51 to 421, missing

In [278]:
GLU_2011_2012 = pd.read_csv('./Laboratory/GLU_G.csv')

GLU_G = GLU_2011_2012.filter(['SEQN', 'LBXGLU'], axis=1)
GLU_cols = {'SEQN':'SEQN', 'LBXGLU': 'fasting_glucose'}

GLU_G.columns = GLU_G.columns.map(GLU_cols)

In [279]:
GLU_G.head()

      SEQN  fasting_glucose
0  62161.0             92.0
1  62164.0             82.0
2  62165.0             88.0
3  62169.0            107.0
4  62170.0             99.0

### Vitamins B12 and D

VITB12_G
- LBDB12 - Vitamin B12(pg/mL) - range, missing

VID_G
- LBXVIDMS - 25OHD2+25OHD3 (nmol/L) - range, missing (vitamin D)

In [280]:
VITB12_2011_2012 = pd.read_csv('./Laboratory/VITB12_G.csv')
 # LBXB12 or LBDB12
VITB12_G = VITB12_2011_2012.filter(['SEQN', 'LBXB12'], axis=1)
VITB12_cols = {'SEQN':'SEQN', 'LBXB12': 'lab_VitB12'}

VITB12_G.columns = VITB12_G.columns.map(VITB12_cols)


VID_2011_2012 = pd.read_csv('./Laboratory/VID_G.csv')

VID_G = VID_2011_2012.filter(['SEQN', 'LBXVIDMS'], axis=1)
VID_cols = {'SEQN':'SEQN', 'LBXVIDMS': 'lab_VitD'}

VID_G.columns = VID_G.columns.map(VID_cols)

In [281]:
VITB12_G.head()

      SEQN  lab_VitB12
0  62161.0       852.0
1  62164.0      1250.0
2  62169.0       805.0
3  62172.0       597.0
4  62174.0       945.0

In [282]:
VID_G.head()

      SEQN  lab_VitD
0  62161.0      76.8
1  62162.0       NaN
2  62163.0      47.1
3  62164.0      92.2
4  62165.0      62.2

## Examination Data

### Blood Pressure (BPX_G)

variables:
- BPXSY1 : systolic_BP - Systolic: Blood pres (1st rdg) mm Hg
- BPXDI1 : diastolic_BP - Diastolic: Blood pres (1st rdg) mm Hg
- BPXPLS - 60 sec. pulse (30 sec. pulse * 2) - 0 to 180, missing

In [283]:
BPX_2011_2012 = pd.read_csv('./Examination/BPX_G.csv')

BPX_G = BPX_2011_2012.filter(['SEQN', 'BPXSY1', 'BPXDI1','BPXPLS'], axis=1)
BPX_cols = {'SEQN':'SEQN', 'BPXSY1': 'systolic_BP', 'BPXDI1' : 'diastolic_BP','BPXPLS':'pulse'}

BPX_G.columns = BPX_G.columns.map(BPX_cols)

In [284]:
BPX_G.head(2)

      SEQN  systolic_BP  diastolic_BP  pulse
0  62161.0        110.0          82.0   82.0
1  62162.0          NaN           NaN    NaN

### Body Measures (BMX_G)

variables:
- BMXBMI : BMI - Body Mass Index (kg/m**2), range 12.1 to 82.9
- BMXWAIST : waist_C - Waist Circumference (cm), 40.2 to 177.9

In [285]:
BMX_2011_2012 = pd.read_csv('./Examination/BMX_G.csv')

BMX_G = BMX_2011_2012.filter(['SEQN', 'BMXBMI', 'BMXWAIST'], axis=1)
BMX_cols = {'SEQN':'SEQN', 'BMXBMI': 'BMI', 'BMXWAIST' : 'waist_C'}

BMX_G.columns = BMX_G.columns.map(BMX_cols)

In [286]:
BMX_G.head(2)

      SEQN   BMI  waist_C
0  62161.0  23.3     81.0
1  62162.0  14.2     45.4

### Dual-Energy X-ray Absorptiometry - Whole Body (DXX_G)

variables:
- DXDTOBMD : bone_mineral_density - Total Bone Mineral Density (g/cm^2), range 0.559 to 1.548

In [287]:
DXX_2011_2012 = pd.read_csv('./Examination/DXX_G.csv')

DXX_G = DXX_2011_2012.filter(['SEQN', 'DXDTOBMD'], axis=1)
DXX_cols = {'SEQN':'SEQN', 'DXDTOBMD': 'bone_mineral_density'}

DXX_G.columns = DXX_G.columns.map(DXX_cols)

In [288]:
DXX_G.head(2)

      SEQN  bone_mineral_density
0  62161.0                 1.213
1  62163.0                 1.016

### Oral Health

OHXREF_G
- OHAREC - Overall recommendation for care
    - 1 - See a dentist immediately
    - 2 - See a dentist within the next 2 weeks	
    - 3 - See a dentist at your earliest convenience
    - 4 - Continue your regular routine care
    - Missing

In [289]:
OHXREF_2011_2012 = pd.read_csv('./Examination/OHXREF_G.csv')

OHXREF_G = OHXREF_2011_2012.filter(['SEQN', 'OHAREC'], axis=1)
OHXREF_cols = {'SEQN':'SEQN', 'OHAREC': 'oral_rec'}

OHXREF_G.columns = OHXREF_G.columns.map(OHXREF_cols)

In [290]:
OHXREF_G.head()

      SEQN  oral_rec
0  62161.0       4.0
1  62162.0       4.0
2  62163.0       4.0
3  62164.0       4.0
4  62165.0       4.0

# Merging dataframes

In [291]:
from functools import reduce

# list of df
# minus DLQ_G, OSQ_G,
data_frames = [DPQ_G, DEMO_G, DIET_G, DIQ_G, DBQ_G, DUQ_G, HUQ_G, HIQ_G, 
               HOQ_G, ECQ_G, FSQ_G, INQ_G, MCQ_G, KIQ_U_G, OCQ_G, OHQ_G, 
               PAQ_G, PFQ_G, SLQ_G, SMQ_G, SMQRTU_G, SXQ_G, CSQ_G, ALQ_G, WHQ_G, 
               HDL_G, TRIGLY_G, TCHOL_G, GHB_G, HSV_G, HIV_G, CUSEZN_G, FOLFMS_G, 
               FOLATE_G, GLU_G, VITB12_G, VID_G, BPX_G, BMX_G, DXX_G, OHXREF_G]

df_2011_2012 = reduce(lambda  left,right: pd.merge(left,right,on=['SEQN'],
                                            how='outer'), data_frames)

In [292]:
df_2011_2012.depressed

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9751    NaN
9752    NaN
9753    NaN
9754    NaN
9755    NaN
Name: depressed, Length: 9756, dtype: float64

In [293]:
df_2011_2012.dropna(subset=['depressed'], inplace=True)

In [294]:
df_2011_2012.shape

(4944, 113)

In [295]:
df_2011_2012.columns

Index(['SEQN', 'depressed', 'race_ethnicity', 'edu_level', '#_ppl_household',
       'age', 'gender', 'annual_HI', 'marital_status', 'caffeine',
       ...
       'fasting_glucose', 'lab_VitB12', 'lab_VitD', 'systolic_BP',
       'diastolic_BP', 'pulse', 'BMI', 'waist_C', 'bone_mineral_density',
       'oral_rec'],
      dtype='object', length=113)

# Export 2011-2012 data

In [296]:
df_2011_2012.to_csv('/Users/carolinesklaver/Desktop/Capstone/NHANES/data/csv_data/df_2011_2012_ext.csv', index=False)